body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  background-image: url("../image/bg.jpg");
}

#menu.sidebar {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  z-index: 99;
  opacity: 1;
}

#menu.sidebar {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  z-index: 99;
  opacity: 0.87;
}

#menu.sidebar.active {
  width: 1280px;
  opacity: 1;
}

#menu.slider_small_bg {
  background-image: url("../image/slider_small_bg_dark.png");
  background-repeat: repeat-y;
}

#menu.bg_gradiant_trans {
  background-image: url("../image/slider_active_bg_dark.png");
  background-repeat: repeat-y;
}

#menu.sidebar.active .logo_content .logo {
  color: #808080;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

#menu.sidebar #btn {
  width: 55px;
  margin-top: -15px;
}

#menu.sidebar .logo_content .logo {
  width: 50px !important;
  margin-top: -5px;
}

#menu.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

#menu.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

#menu.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

#menu.sidebar ul {
  margin-top: 20px;
}

#menu.sidebar ul li {
  position: relative;
  height: 45px;
  width: 100%;
  list-style: none;
  line-height: 45px;
  margin: 3px 5px;
}

#menu.sidebar ul li:first-child {
  margin: 0px 0;
}

#menu.sidebar ul li div {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
}

#menu.sidebar ul li div.focus {
  /*color: #ff9200;*/
  font-weight: 600;
}

#menu.sidebar ul li div.focus i {
  /*color: #ff9200;*/
  background-color: transparent;
  text-decoration: none;
  background-image: url("../image/pix_dark.png");
  background-repeat: repeat-x;
  background-position: bottom;
  border-radius: 0px;
}

#menu.sidebar.active ul li div.focus i {
  color: #ff9200;
  background-color: transparent;
  text-decoration: none;
  background-image: url("../image/pix_dark.png");
  background-repeat: repeat-x;
  background-position: bottom;
  border-radius: 0px;
}

#menu.sidebar ul li div.focus span.links_name {
  color: #ff9200;
}

#menu.sidebar ul li div:hover {
  color: #ff9200;
}

#menu.sidebar ul li div:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#menu.sidebar ul li div:focus {
  outline-width: 0;
}

#menu.sidebar ul li i {
  font-size: 22px;
  font-weight: 400;
  height: 42px;
  min-width: 23px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  margin-left: 10px;
}

#menu.sidebar .links_name {
  position: absolute;
  font-size: 21px;
  font-weight: 500;
  left: -300px;
  opacity: 1;
  pointer-events: none;
}

#menu.sidebar.active .links_name {
  position: absolute;
  margin-left: 50px;
  opacity: 1;
  pointer-events: auto;
  margin-top: 5px;
}

#menu.sidebar .nav_list {
  display: table-cell;
  vertical-align: middle;
  color: rgb(132, 132, 132);
  width: 100%;
  padding-left: 0px;
  padding-bottom: 60px;
}

div.logo_content ul.nav_list {
  padding-top: 25px;
}

#menu.sidebar ul li:first-child {
  margin: 0px 0;
}

#menu.sidebar .logo_content {
  display: table-row;
  vertical-align: top;
  color: #fff;
  width: 100%;
  height: 50px;
  padding-top: 25px;
}

#menu.sidebar .nav_content {
  display: table-row;
  color: #fff;
  width: 100%;
}

#menu.sidebar .profile_content {
  display: table-row;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
}

#menu.home_content {
  position: absolute;
  height: 100%;
  left: 0px;
  z-index: 0;
}

#menu.sidebar.active {
  z-index: 100;
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  #menu.sidebar {
    padding-left: 20px;
    padding-right: 20px;
  }
  #menu.sidebar ul li i {
    font-size: 24px;
  }
}

/*
@media only screen and (min-device-width: 1281px) and (max-device-width: 1920px) {
    #menu.sidebar {
        padding-left: 30px;
        padding-right: 30px;
    }
    #menu.sidebar ul li i {
        font-size: 25px;
    }
}
*/

/*=============================================================================================================================================*/

#channel-list {
  display: block;
  position: fixed;
  height: auto;
  bottom: 0;
  top: 0;
  /*left: 0;*/
  /*right: 0;*/
  background-color: rgb(0, 0, 0);
  opacity: 0.85;
  overflow: hidden;
  width: 197px;
  margin-top: 55px;
  margin-bottom: 0px;
  /*margin-left: 95px;*/
}

#channel-list::-webkit-scrollbar {
  display: none;
}

#channel-content {
  position: absolute;
}

#channel-list .channel-box {
  display: flex;
  flex-wrap: wrap;
  width: 197px;
  height: 111px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 6px solid rgb(0, 0, 0, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

#channel-list .channel-box:focus {
  /*outline: 1px solid rgba(88, 94, 113, .8) ;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid rgba(255, 146, 0, 1) !important;
  outline: none;
}

#channel-list .channel-box:focus-visible {
  outline: none !important;
}

#channel-list .channel-box .number {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  color: rgba(128, 128, 128, 1);
  padding-top: 5px;
  font-size: 16px;
  height: 10px;
  padding-left: 8px;
  text-align: left;
}

#channel-list .channel-box img {
  opacity: 1;
  margin-top: -5px;
  margin-left: 25px;
  width: 85%;
  height: 85%;
}

#channel {
  position: inherit;
  display: block;
  text-align: center;
  /*left: 110px;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid rgba(255, 146, 0, 1);
  border-radius: 4px;
  top: 0px;
  margin-top: 55px;
  width: 197px;
  height: 111px;
  /*left: 95px;*/
}

#channel.remove_focus {
  border: 4px solid rgb(128, 128, 128) !important;
  opacity: 0.7;
}

#channel:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#channel:focus {
  outline-width: 0;
}

/*
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  #channel-list {
    width: 197px;
    margin-top: 55px;
    margin-bottom: 0px;

  }
  #channel-list .channel-box {
    width: 197px;
    height: 111px;
  }
  #channel {
    margin-top: 55px;
    width: 197px;
    height: 111px;
  }
  #channel-list .channel-box .number {
    font-size: 16px;
  }
}


@media only screen and (min-device-width: 1281px) and (max-device-width: 1920px) {
    #channel-list {
        width: 230px;
        margin-top: 80px;
        margin-bottom: 0px;
        margin-left: 115px;
    }
    #channel-list .channel-box {
        width: 230px;
        height: 140px;
    }
    #channel {
        margin-top: 75px;
        width: 230px;
        height: 145px;
        left: 115px;
    }
    #channel-list .channel-box .number {
        font-size: 16px;
    }
}
*/

/*==========================================================================================================================================================================*/

#category-list {
  position: fixed;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: -0;
  top: 0;
  background-image: url("../image/category-list_bg_720_dark.png");
  background-repeat: repeat-x;
  /*background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);*/
  overflow: hidden;
  /*margin-left: 95px;*/
  opacity: 1;
  height: 120px;
  width: 197px;
}

#category-list .content {
  position: absolute;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  width: 100%;
}

#category-list .item {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  width: 197px;
  text-align: center;
  padding-top: 20px;
  color: rgb(128, 128, 128);
  text-transform: uppercase;
  height: 35px;
  background-color: rgb(0, 0, 0);
  opacity: 0.85;
}

#category {
  position: fixed;
  display: block;
  flex-wrap: wrap;
  top: 0px;
  width: 197px;
  height: 25px;
  text-align: center;
  color: rgb(128, 128, 128);
  font-weight: 600;
  padding-top: 30px;
  z-index: -1;
}

#category:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#category:focus {
  outline-width: 0;
}

.w_100 {
  width: 100% !important;
}

#category.focus {
  -webkit-box-shadow: inset 0px 0px 0px 4px rgba(255, 146, 0, 1);
  -moz-box-shadow: inset 0px 0px 0px 4px rgba(255, 146, 0, 1);
  box-shadow: inset 0px 0px 0px 4px rgba(255, 146, 0, 1);
}

#category.fill {
  opacity: 0.85;
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  #category-list {
    /*margin-left: 95px;*/
    height: 120px;
    width: 197px;
    background-image: url("../image/category-list_bg_720_dark.png");
    background-repeat: repeat-x;
  }
  #category-list .item {
    font-size: 0.75rem;
    width: 197px;
    padding-top: 25px;
  }
  #category {
    width: 197px;
    height: 25px;
    padding-top: 30px;
  }
}

/*==========================================================================================================================================================================*/

#epg-category-list {
  position: fixed;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: -0;
  top: 0;
  background-image: url("../image/epg-category-list_bg_720_dark.jpg");
  background-repeat: repeat-x;
  /*background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);*/
  overflow: hidden;
  /*margin-left: 95px;*/
  opacity: 1;
  margin-left: 0px;
  height: 55px;
  width: 190px;
}

#epg-category-list .content {
  position: absolute;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  width: 100%;
}

#epg-category-list .item {
  display: inline-block;
  font-size: 0.75rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  width: 190px;
  text-align: center;
  padding-top: 25px;
  color: rgb(128, 128, 128);
}

#epg-category {
  position: fixed;
  display: block;
  flex-wrap: wrap;
  top: 0px;
  width: 190px;
  height: 25px;
  text-align: center;
  color: rgb(128, 128, 128);
  font-weight: 600;
  padding-top: 30px;
  z-index: -1;
}

#epg-category:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#epg-category:focus {
  outline-width: 0;
}

.w_100 {
  width: 100% !important;
}

#epg-category.focus {
  -webkit-box-shadow: inset 0px 0px 0px 4px rgba(255, 146, 0, 1);
  -moz-box-shadow: inset 0px 0px 0px 4px rgba(255, 146, 0, 1);
  box-shadow: inset 0px 0px 0px 4px rgba(255, 146, 0, 1);
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  #epg-category-list {
    margin-left: 0px;
    height: 55px;
    width: 190px;
    background-image: url("../image/epg-category-list_bg_720_dark.jpg");
    background-repeat: repeat-x;
  }
  #epg-category-list .item {
    font-size: 0.75rem;
    width: 190px;
    padding-top: 25px;
  }
  #epg-category {
    width: 190px;
    height: 25px;
    padding-top: 30px;
  }
}

/*
@media only screen and (min-device-width: 1281px) and (max-device-width: 1920px) {
    #category-list {
        margin-left: 115px;
        height: 120px;
        width: 230px;
        background-image: url("../image/category-list_bg.png");
        background-repeat: repeat-x;
        opacity: 1;
    }
    #category-list .item {
        font-size: 1rem;
        width: 230px;
        padding-top: 35px;
    }
    #category {
        width: 230px;
        height: 47px;
        padding-top: 30px;
    }
}
*/

/*==========================================================================================================================================================================*/

#epg-list {
  position: fixed;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  bottom: 0;
  background-image: url("../image/epg-list_bg_720_dark.png");
  overflow: hidden;
  margin-left: 245px;
  height: 220px;
  width: 100%;
}

#epg-list .content {
  position: absolute;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-top: 15px;
}

#epg-list .content .item {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 5px;
  border: 0px solid rgba(255, 255, 255, 0);
}

#epg {
  position: fixed;
  display: block;
  width: 228px;
  height: 185px;
  margin: 20px 5px;
  text-align: center;
  left: 472px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid rgba(255, 146, 0, 1);
  border-radius: 3px;
  bottom: -5px;
}

#epg:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#epg:focus {
  outline-width: 0;
}

/*==========================================================================================================================================================================*/

.epg-box {
  width: 230px;
  height: 185px;
  margin: 0px;
}

.epg-box-border {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.epg-box div.epg-box-border img {
  position: absolute;
  width: 220px;
  z-index: -5;
}

.epg-box .epg-box-border .fill {
  position: absolute;
  display: block;
  width: 220px;
  height: 185px;
  background-image: url("../image/epg_box_bg_720_dark.png");
}

.epg-box .epg-box-border .fill .name {
  position: absolute;
  bottom: 40px;
  display: block;
  height: 40px;
  width: 210px;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  font-size: 16px;
}

.epg-box .epg-box-border .fill .time {
  position: absolute;
  bottom: 25px;
  display: inline-block;
  height: 25px;
  width: 25px;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  font-size: 14px;
}

.epg-box .epg-box-border .fill .date {
  position: absolute;
  bottom: 25px;
  display: inline-block;
  height: 25px;
  width: 100px;
  color: rgb(128, 128, 128);
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  font-size: 14px;
  margin-left: 110px;
}

.light-grey {
  position: static;
  width: 100%;
  background-image: url("../image/bg_status_bar_dark.png");
  background-repeat: repeat-x;
  margin-top: 170px;
}

.blue {
  width: 75%;
  background-color: rgb(0, 0, 0) !important;
}

/*========================================================================================================================================================*/

#lst-epg-list {
  position: fixed;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  top: 0;
  overflow: hidden;
  margin-left: 197px;
  height: 100%;
  width: 290px;
  background-image: url("../image/bg_epg_dark.png");
  background-repeat: no-repeat;
}

#lst-epg-list .content {
  position: absolute;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-top: 15px;
}

#lst-epg-list .content .item {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 5px;
  border: 0px solid rgba(255, 255, 255, 0);
  height: 111px;
}

#lst-epg {
  position: relative;
  display: block;
  width: 280px;
  height: 110px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid rgba(255, 146, 0, 1);
  border-radius: 3px;
  top: 277px;
  left: 0px;
}

#lst-epg:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#lst-epg:focus {
  outline-width: 0;
}
/*==========================================================================================================================================================================*/

.lst-epg-box {
  width: 230px;
  height: 185px;
  margin: 0px;
}

.lst-epg-box-border {
  margin: 0px;
  padding: 0px;
  width: 280px;
  height: 111px;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}

.lst-epg-box div.lst-epg-box-border img {
  position: absolute;
  width: 280px;
  z-index: -5;
}

.lst-epg-box .lst-epg-box-border .fill {
  position: absolute;
  display: block;
  width: 250px;
  height: 110px;
  padding-left: 10px;
  padding-right: 10px;
}

.lst-epg-box .lst-epg-box-border .fill .name {
  position: absolute;
  top: 40px;
  display: inline-block;
  white-space: pre-wrap;
  height: 55px;
  width: 250px;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-top: 0px;
  font-size: 16px;
}

.lst-epg-box .lst-epg-box-border .fill .time {
  position: absolute;
  top: 15px;
  display: inline-block;
  height: 25px;
  width: 90px;
  color: rgb(22, 8, 8);
  text-align: left;
  padding-top: 0px;
  font-size: 14px;
}

.lst-epg-box .lst-epg-box-border .fill .date {
  position: absolute;
  top: 15px;
  left: 50px;
  display: inline-block;
  height: 25px;
  width: 100px;
  color: rgb(128, 128, 128);
  text-align: right;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 0px;
  font-size: 14px;
  margin-left: 100px;
}

.lst-light-grey {
  position: static;
  width: 100%;
  background-color: rgb(70, 70, 70) !important;
  margin-top: 95px;
}

.lst-blue {
  width: 75%;
  background-color: rgb(0, 0, 0) !important;
}

/*==========================================================================================================================================================================*/

div#video img {
  position: fixed;
  display: block;
  height: 100%;
  width: auto;
  background-color: rgb(0, 0, 0);
  z-index: -500;
}

/*==========================================================================================================================================================================*/

/*============ Template

/* 
container-fluid - page
sidebar - nav
*/

#start_page.page {
  position: relative;
  min-width: 940px;
  background-color: rgb(0, 0, 0);
  /*height: 720px;*/
  /*zoom: 1.5;*/
  margin-left: 0;
  padding-left: 95px;
}

#start_page.page > .content {
  position: relative;
  left: -245px;
  overflow: hidden;
  width: 1430px;
}

#start_page.page > .content > .header {
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#start_page.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
  height: 720px;
  padding-top: 0px;
  z-index: 0;
  margin-top: 55px;
}

#start_page.page > .content > .img_bg_trans {
  position: absolute;
  top: 290px;
  z-index: 10;
}

#start_page > .row {
  zoom: 1;
  margin-left: -20px;
}

#start_page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}

#start_page > .span5 {
  width: 280px;
}

#start_page > .span6 {
  width: 340px;
}

#start_page.page > .nav {
  position: absolute;
  top: 0;
  left: 20px;
  width: 220px;
}

#start_page.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 5000px;
}

/*=====================================================================================================================================
LG - veliki
*/

.list-data-lg {
  position: relative;
  display: block;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
}

.list-data-lg > .name_category {
  display: block;
  position: relative;
  top: 5px;
  left: 250px;
  color: rgb(128, 128, 128);
  text-align: left;
  font-size: 18px;
  margin-left: 5px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.list-content {
  position: relative;
  top: 0;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.list-data-lg .item {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 3px;
}

.list-data-lg .box-image {
  position: absolute;
  display: inline;
  width: 490px;
  height: 272px;
}

.list-data-lg img {
  width: 490px;
  height: 272px;
  border: 1px solid rgb(50, 50, 50);
}

.list-box-lg {
  width: 490px;
  height: 322px;
  margin: 0px;
}

.list-box-lg .fill .name {
  position: relative;
  display: block;
  top: 276px;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-left: 5px;
  font-size: 17px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  width: 290px;
}

.list-box-lg .fill .name.active {
  color: rgb(255, 120, 0);
  font-weight: 500;
  /*text-shadow: 1px 1px 3px rgb(200 200 200);*/
}

div.list-box-lg.item div.light-grey {
  position: relative;
  top: 265px;
  width: 480px;
  margin-top: 0px;
  margin-top: -4px;
  margin-left: 5px;
  margin-right: 5px;
}

.list-box-lg .blue {
  width: 75%;
  background-color: rgb(255, 255, 255) !important;
}

.list-data-lg .control_focus {
  position: absolute;
  top: 35px;
  width: 495px;
  height: 282px;
  margin: 0px;
  text-align: center;
  left: 247px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 0px;
}

.list-data-lg .control_focus.focus {
  border: 5px solid rgba(255, 146, 0, 1);
  border-radius: 5px;
}

.list-data-lg .control_focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-lg .control_focus:focus {
  outline-width: 0;
}

.list-data-lg .control_focus.focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-lg .control_focus.focus:focus {
  outline-width: 0;
}

/*=====================================================================================================================================
MD - veliki
*/

.list-data-md {
  position: relative;
  display: block;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
}

.list-data-md > .name_category {
  display: block;
  position: relative;
  left: 250px;
  color: rgb(128, 128, 128);
  text-align: left;
  font-size: 18px;
  margin-left: 5px;
  height: 30px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 8px;
  text-transform: uppercase;
}

.list-content {
  position: relative;
  top: 0;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.list-data-md .item {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

.list-data-md .box-image {
  position: absolute;
  display: inline;
  width: 240px;
  height: 180px;
}

.list-data-md img {
  width: 100%;
  height: 135px;
  border: 1px solid rgb(50, 50, 50);
}

.list-box-md {
  width: 240px;
  height: 180px;
  margin: 0px;
}

.list-box-md .fill .name {
  position: relative;
  display: block;
  top: 136px;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-left: 5px;
  font-size: 17px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  width: 235px;
}

.list-box-md .fill .name.active {
  color: rgb(255, 120, 0);
  font-weight: 500;
  /*text-shadow: 1px 1px 3px rgb(200 200 200);*/
}

div.list-box-md.item div.light-grey {
  position: relative;
  top: 126px;
  width: 230px;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -4px;
  height: 4px;
}

div.list-box-md.item div.light-grey-empty {
  position: relative;
  top: 135px;
  width: 100%;
  margin-top: 0px;
  margin-top: -4px;
  height: 4px;
}

.list-box-md .blue {
  width: 75%;
  background-color: rgb(255, 255, 255) !important;
}

.list-data-md .control_focus {
  position: absolute;
  top: 39px;
  width: 243px;
  height: 141px;
  margin: 0px;
  text-align: center;
  left: 250px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 0px;
}

.list-data-md .control_focus.focus {
  border: 4px solid rgba(255, 146, 0, 1);
  border-radius: 3px;
}

.list-data-md .control_focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-md .control_focus:focus {
  outline-width: 0;
}

.list-data-md .control_focus.focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-md .control_focus.focus:focus {
  outline-width: 0;
}

/****************************************************/

/****************************************************/

.list-data-plg {
  position: relative;
  display: block;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
  height: 425px;
}

.list-data-plg > .name_category {
  display: block;
  position: relative;
  left: 250px;
  color: rgb(128, 128, 128);
  text-align: left;
  font-size: 18px;
  margin-left: 5px;
  height: 30px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 0px;
  top: 10px;
}

.list-data-plg .item {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 5px 10px;
}

.list-data-plg .box-image {
  position: absolute;
  display: inline;
  width: 250px;
  height: 335px;
}

.list-data-plg img {
  width: 100%;
}

.list-box-plg {
  width: 250px;
  height: 335px;
  margin: 0px;
}

.list-box-plg .fill .name {
  position: relative;
  top: 335px;
  color: rgb(128, 128, 128);
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 260px;
  height: 38px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
}

.list-box-plg .fill .name.active {
  color: rgb(255, 120, 0);
  font-weight: 500;
  /*text-shadow: 1px 1px 3px rgb(200 200 200);*/
}

div.list-box-plg.item div.light-grey {
  position: relative;
  top: 135px;
  width: 100%;
  background-color: rgb(70, 70, 70) !important;
  margin-top: 0px;
  margin-top: -4px;
}

.list-box-plg .blue {
  width: 75%;
  background-color: rgb(255, 255, 255) !important;
}

.list-data-plg .control_focus {
  position: absolute;
  top: 39px;
  width: 258px;
  height: 336px;
  margin: 0px;
  text-align: center;
  left: 246px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 0px;
}

.list-data-plg .control_focus.focus {
  border: 5px solid rgba(255, 146, 0, 1);
  border-radius: 5px;
}

.list-data-plg .control_focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-plg .control_focus:focus {
  outline-width: 0;
}

.list-data-plg .control_focus.focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-plg .control_focus.focus:focus {
  outline-width: 0;
}

/****************************************************/

.list-data-pmd {
  position: relative;
  display: block;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
  height: 280px;
}

.list-data-pmd > .name_category {
  display: block;
  position: relative;
  left: 250px;
  color: rgb(128, 128, 128);
  text-align: left;
  font-size: 16px;
  margin-left: 5px;
  height: 16px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-data-pmd .item {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 5px 10px;
}

.list-data-pmd .box-image {
  position: absolute;
  display: inline;
  width: 150px;
  height: 200px;
}

.list-data-pmd img {
  width: 100%;
}

.list-box-pmd {
  width: 150px;
  height: 200px;
  margin: 0px;
}

.list-box-pmd .fill .name {
  position: relative;
  top: 200px;
  color: rgb(128, 128, 128);
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 150px;
  height: 38px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
}

.list-box-pmd .fill .name.active {
  color: rgb(255, 120, 0);
  font-weight: 500;
  /*text-shadow: 1px 1px 3px rgb(200 200 200);*/
}

div.list-box-pmd.item div.light-grey {
  position: relative;
  top: 135px;
  width: 100%;
  background-color: rgb(70, 70, 70) !important;
  margin-top: 0px;
  margin-top: -4px;
}

.list-box-pmd .blue {
  width: 75%;
  background-color: rgb(255, 255, 255) !important;
}

.list-data-pmd .control_focus {
  position: absolute;
  top: 27px;
  width: 159px;
  height: 206px;
  margin: 0px;
  text-align: center;
  left: 245px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 0px;
}

.list-data-pmd .control_focus.focus {
  border: 4px solid rgba(255, 146, 0, 1);
  border-radius: 4px;
}

.list-data-pmd .control_focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-pmd .control_focus:focus {
  outline-width: 0;
}

.list-data-pmd .control_focus.focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-pmd .control_focus.focus:focus {
  outline-width: 0;
}

/*==========================================================================================================================================================================*/

/*============ Template

/* 
container-fluid - page
sidebar - nav
*/

#search_page.page {
  position: relative;
  min-width: 940px;
  background-color: rgb(0, 0, 0);
  /*height: 720px;*/
  zoom: 1;
  margin-left: 0;
  padding-left: 95px;
}

#search_page.page > .content {
  position: relative;
  left: 0px;
  overflow: hidden;
  height: 720px;
}

#search_page.page > .content > .header {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#search_page.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
  padding-top: 0px;
  z-index: 0;
  left: 55px;
  top: 55px;
}

#search_page.page > .content > .img_bg_trans {
  position: absolute;
  top: 290px;
  z-index: 10;
}

#search_page > .row {
  zoom: 1;
  margin-left: -20px;
}

#search_page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}

#search_page > .span1 {
  width: 56px;
}

#search_page > .span5 {
  width: 280px;
}

#search_page > .span6 {
  width: 340px;
}

#search_page.page > .navbar {
  position: absolute;
  top: 0;
  left: 100px;
  width: 275px;
  height: 695px;
  padding-left: 25px;
  padding-top: 60px;
  padding-right: 50px;
  background-color: rgb(0, 0, 0);
  z-index: 10;
}

#search_page.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
}

/*============================================================================================================*/

#id_search {
  display: block;
  font-size: 24px;
  width: 275px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  border-bottom: 2px solid rgb(128, 128, 128);
  color: rgb(128, 128, 128);
  height: 30px;
}

#keyboard {
  position: relative;
  font-size: 18px;
}

#keyboard > .row {
  zoom: 1;
  margin: 1% 0;
  overflow: auto;
}

#keyboard > .row > [class*="span"] {
  display: inline;
  float: left;
}

#keyboard > .row > .span1 {
  width: 45px;
  height: 40px;
}

#keyboard > .row > .span1-5 {
  width: 75px;
  height: 45px;
}

#keyboard > .row > .span3 {
  width: 135px;
  height: 45px;
}

#keyboard > .row > .span4 {
  width: 180px;
  height: 45px;
}

#keyboard > .row > [class*="span"] > .cell {
  text-align: center;
  color: rgb(132, 132, 132);
  font-weight: 500;
}

#keyboard > .row > [class*="span"] > .cell > svg.icon_color {
  fill: rgba(128, 128, 128, 1);
}

#keyboard > .span1-5 {
  width: 46px;
}

#key_keyboard {
  position: absolute;
  top: 10px;
  width: 45px;
  height: 40px;
  margin-top: -10px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div#key_keyboard.focus {
  border: 3px solid rgba(255, 146, 0, 1);
  border-radius: 3px;
}

div#key_keyboard:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div#key_keyboard:focus {
  outline-width: 0;
}

div#key_keyboard.focus :focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div#key_keyboard.focus :focus {
  outline-width: 0;
}

.id_loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: url("../image/loading_buffering_12.gif") 50% 50% no-repeat
    gb(0, 0, 0);
}

/*==========================================================================================================================================================================*/

#guidetv.page {
  position: relative;
  min-width: 940px;
  background-color: rgb(0, 0, 0);
  /*height: 720px;*/
  zoom: 1;
  margin-left: 0;
  padding-left: 95px;
  height: 720px;
}

#guidetv.page > .content {
  position: relative;
  left: 0px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  top: 55px;
  height: 480px;
}

#guidetv.page > .content::-webkit-scrollbar {
  display: none;
}

#guidetv.page > .content > .header {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#guidetv.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
  padding-top: 0px;
  z-index: 0;
  left: 110px;
  top: 25px;
}

#guidetv.page > .content > .img_bg_trans {
  position: absolute;
  top: 290px;
  z-index: 10;
}

#guidetv.page > .row {
  /*zoom: 1;*/
  margin-left: -20px;
}

#guidetv.page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}

#guidetv.page > .span1 {
  width: 56px;
}

#guidetv.page > .span5 {
  width: 280px;
}

#guidetv.page > .span6 {
  width: 340px;
}

#guidetv.page > .navbar {
  position: absolute;
  top: 0;
  left: 100px;
  width: 330px;
  height: 695px;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 50px;
  background-color: rgb(0, 0, 0);
  z-index: 10;
}

#guidetv.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
}

/***************************************************************************************************************************************************/

#guidetv.page .channel-list {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.85;
  margin-bottom: 0px;
  /*overflow-y: hidden;*/
}

#guidetv.page .channel-list::-webkit-scrollbar {
  display: none;
}

#guidetv.page .channel-content {
  width: 1200px;
}

#guidetv.page .channel-list .channel-box {
  display: flex;
  flex-wrap: wrap;
  width: 190px;
  height: 95px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 6px solid rgb(0, 0, 0, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

#guidetv.page .channel-list .channel-box:focus {
  /*outline: 1px solid rgba(88, 94, 113, .8) ;*/
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border: 6px solid rgba(255, 146, 0, 1) !important;*/
  outline: none;
}

#guidetv.page .channel-list .channel-box:focus-visible {
  outline: none !important;
}

#guidetv.page .channel-list .channel-box .number {
  position: relative;
  color: rgba(128, 128, 128, 1);
  padding-top: 5px;
  font-size: 12px;
  flex-basis: 100%;
  height: 10px;
  padding-left: 6px;
  text-align: left;
}

#guidetv.page .channel-list .channel-box:focus .number {
  color: rgba(255, 146, 0, 1);
  font-weight: bold;
}

#guidetv.page .channel-list .channel-box img {
  position: relative;
  opacity: 1;
  margin-top: -15px;
  margin-left: 25px;
  height: 85%;
}

.span1 {
  float: left;
  width: 50%;
}

#guidetv .row {
  display: table;
  margin: 0% 0;
  /*background-color: rgb(238, 238, 238);*/
}

/*
#guidetv>.row>[class*="span"] {
    display: inline;
    float: left;
    margin-left: 20px;
}
*/

#guidetv.page .row .span1 {
  float: left;
  width: 190px;
  height: 94px;
}

#guidetv.page .span2 {
  float: left;
  width: 990px;
  height: 94px;
}

div#guidetv.page .live-list {
  position: relative;
  display: block;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
}

div#guidetv.page .live-content {
  position: relative;
  top: 0;
  left: -340px;
  white-space: nowrap;
  display: table;
  /*border-top: 1px solid rgba(128, 128, 128, 0.2);*/
}

div#guidetv.page .live-content .item {
  display: table-cell;
  width: 295px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 8px 20px;
  height: 94px;
  /*background: rgb(225, 225, 225);*/
  border-right: 1px solid rgba(128, 128, 128, 0.2);
}

div#guidetv.page .epg_ch_focus {
  display: block;
  height: 94px;
  width: 337px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid rgba(255, 146, 0, 1) !important;
  border-radius: 4px;
  position: absolute;
  left: 670px;
}

div#guidetv.page .live-content .item .name {
  display: table-caption;
  color: rgb(128, 128, 128);
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 295px;
  height: 40px;
}

div#guidetv.page .live-content .item .date {
  display: table-cell;
  color: rgb(128, 128, 128);
  font-size: 14px;
  width: 150px;
  height: 18px;
  text-align: left;
  padding: 5px 0px;
}

div#guidetv.page .live-content .item .time {
  display: table-cell;
  color: rgb(128, 128, 128);
  font-size: 14px;
  width: 150px;
  height: 18px;
  text-align: right;
  padding: 5px 0px;
}

div#guidetv.page .live-content .item .progress {
  width: 295px;
}

div#guidetv.page .light-grey {
  width: 100%;
  background-color: rgb(70, 70, 70) !important;
  margin-top: -1px;
}

/*
div#guidetv.page .channel-list .channel-box:focus div.focus_box {
    position: absolute;
    left: 482px;
    width: 330px;
    height: 95px;
    margin-top: -5px;
    background-color: rgb(19, 140, 233) !important;
    opacity: 0.15;
    border-width: 1px;
    border-color: #ff9200;
}
*/

div#guidetv.page .channel-list .channel-box:focus div.focus_box {
  /*
    position: absolute;
    left: 477px;
    width: 330px;
    height: 95px;
    margin-top: -85px;
    background-color: rgb( 255, 146, 0) !important;
    opacity: 0.2;
    */
  position: relative;
  left: 486px;
  width: 354px;
  height: 95px;
  margin-top: -85px;
  background-color: rgb(255, 146, 0) !important;
  opacity: 0.2;
  display: block;
  z-index: 20;
  top: 0px;
  margin-top: 18px;
}

#guidetv.page .epg_footer {
  position: fixed;
  bottom: 0;
  width: 600px;
  height: 190px;
  width: 1200px;
  /*background-color: #FF9200;*/
}

#guidetv.page .epg_footer {
  position: fixed;
  bottom: 0;
  height: 190px;
  width: 1200px;
  background-color: #ffffff;
}

#guidetv.page .epg_footer {
  position: fixed;
  bottom: 0;
  height: 180px;
  width: 1200px;
  background-image: url("../image/bg_epg_footer_dark.jpg");
  background-repeat: repeat-x;
}

#guidetv.page div.epg_footer div.row span.col1 {
  float: left;
  width: 190px;
}

#guidetv.page .epg_footer .col1 img {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 25px;
  text-align: center;
}

#guidetv.page .epg_footer .col2 {
  float: right;
  width: 990px;
  padding-left: 15px;
  padding-top: 25px;
}

#guidetv.page .epg_footer .c_name {
  display: inline-block;
  width: 200px;
}

#guidetv.page .epg_footer .epg_name {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: rgb(128, 128, 128);
  width: 760px;
}

#guidetv.page .epg_footer .epg_date {
  display: inline-block;
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(128, 128, 128);
  text-align: right;
}

#guidetv.page .epg_footer .comment {
  display: block;
  width: 900px;
  font-size: 16px;
  text-align: left;
  color: rgb(128, 128, 128);
}

/*==========================================================================================================================================================================*/

/*============ Template

/* 
container-fluid - page
sidebar - nav
*/

#vod_page.page {
  position: relative;
  min-width: 940px;
  background-color: rgb(0, 0, 0);
  /*height: 720px;*/
  zoom: 1;
  margin-left: 0;
  padding-left: 95px;
}

#vod_page.page > .row {
  margin: 5px 0;
  overflow: auto;
}

#vod_page.page > .content {
  position: relative;
  left: -245px;
  overflow: hidden;
  width: 1430px;
  padding-top: 15px;
  top: 10px;
}

#vod_page.page > .content > .header {
  padding-top: 0px;
  padding-left: 30px;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#vod_page.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
  height: 355px;
  padding-top: 0px;
  z-index: 0;
}

#vod_page.page > .content > .img_bg_trans {
  position: absolute;
  top: 290px;
  z-index: 10;
}

.rowxx {
  zoom: 1;
  margin-left: -20px;
}

#vod_page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}

#vod_page > .span5 {
  width: 280px;
}

#vod_page > .span6 {
  width: 340px;
}

#vod_page.page > .nav {
  position: absolute;
  top: 0;
  left: 20px;
  width: 220px;
}

#vod_page.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 5000px;
}

/*==========================================================================================================================================================================*/

/*============ Template

/* 
container-fluid - page
sidebar - nav
*/

#series_page.page {
  position: relative;
  min-width: 940px;
  background-color: rgb(0, 0, 0);
  /*height: 720px;*/
  zoom: 1;
  margin-left: 0;
  padding-left: 95px;
}

#series_page.page > .content {
  position: relative;
  left: -245px;
  overflow: hidden;
  width: 1430px;
}

#series_page.page > .content > .header {
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#series_page.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
  height: 720px;
  padding-top: 0px;
  z-index: 0;
  margin-top: 55px;
}

#series_page.page > .content > .img_bg_trans {
  position: absolute;
  top: 290px;
  z-index: 10;
}

#series_page > .row {
  zoom: 1;
  margin-left: -20px;
}

#series_page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}

#series_page > .span5 {
  width: 280px;
}

#series_page > .span6 {
  width: 340px;
}

#series_page.page > .nav {
  position: absolute;
  top: 0;
  left: 20px;
  width: 220px;
}

#series_page.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 5000px;
}

/*==========================================================================================================================================================================*/

/*============ Template

/* 
container-fluid - page
sidebar - nav
*/

#radio_page.page {
  position: relative;
  min-width: 940px;
  background-color: rgb(0, 0, 0);
  /*height: 720px;*/
  zoom: 1;
  margin-left: 0;
  padding-left: 95px;
}

#radio_page.page > .content {
  position: relative;
  left: -245px;
  overflow: hidden;
  width: 1430px;
}

#radio_page.page > .content > .header {
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#radio_page.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
  height: 425px;
  padding-top: 0px;
  z-index: 0;
}

#radio_page.page > .content > .img_bg_trans {
  position: absolute;
  top: 290px;
  z-index: 10;
}

#radio_page > .row {
  zoom: 1;
  margin-left: -20px;
}

#radio_page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}

#radio_page > .span5 {
  width: 280px;
}

#radio_page > .span6 {
  width: 340px;
}

#radio_page.page > .nav {
  position: absolute;
  top: 0;
  left: 20px;
  width: 220px;
}

#radio_page.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 5000px;
}

/*=====================================================================================================================================*/

#mov-item {
  position: relative;
  min-width: 940px;
  background-color: rgb(0, 0, 0);
  height: 720px;
  zoom: 1;
  margin-left: 0;
  padding-left: 95px;
}

.mov-mainbox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0 0 70px;
  overflow: hidden;
}

#mov-item .background {
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /*overflow: hidden;*/
}

#mov-item .jawBoneBackground {
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 65%;
}

#mov-item .background .vignette {
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 1;
  background: url("../image/nav-shadow_720_4_dark.png") no-repeat center 100%;
  height: 540px;
  left: 47px;
}

.image-rotator {
  position: relative;
  overflow: hidden;
}

#mov-item .jawBoneBackground .image-rotator-image {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  background-position: center 10%;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 1;
  height: 460px;
}

.image-rotator .image-rotator-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: 0;
}

#mov-item .jawBone {
  padding: 18px 0 12px 15px;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#mov-item h1,
#mov-item h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

#mov-item .jawBone .jawBoneCommon {
  height: 33.3vw;
  margin-top: 0.3em;
}

#mov-item .jawBone .jawBoneCommon {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  height: 33.3vw;
}

#mov-item .jawBone .jawBoneCommon .jawBonePanes {
  position: relative;
  opacity: 1;
  left: 10px;
  z-index: 2;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  -o-transition: -o-transform 300ms;
  -moz-transition: transform 300ms, -moz-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms, -moz-transform 300ms,
    -o-transform 300ms;
}

#mov-item .jawBone .jawBoneCommon .jawBonePanes .overview {
  margin-top: 0.3em;
}

#mov-item .jawBone .jawBoneCommon .meta {
  position: relative;
  z-index: 2;
  color: rgb(128, 128, 128);
}

#mov-item .jawBone .jawBoneCommon .meta .year {
  margin: 5px 0px;
}

#mov-item .jawBone .jawBoneCommon .meta .duration {
  margin: 5px 0px;
}

#mov-item .jawBone .jawBoneCommon .jawBonePanes .caption-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: rgb(128, 128, 128);
  margin: 0em 0 0.6em 0;
  width: 45rem;
}

#mov-item .jawBone .jawBoneCommon .jawBonePanes .overview .synopsis {
  margin: 0.8em 0 0 0;
  width: 32rem;
  height: 152px;
  color: rgb(128, 128, 128);
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}

#mov-item .jawBone .jawBoneCommon .jawBonePanes .overview .creators {
  margin: 0.8em 0 0 0;
  width: 34rem;
  height: 36px;
  color: rgb(128, 128, 128);
  line-height: 1.3;
  font-size: 16px;
  font-weight: 400;
}

#mov-item .maturity-number {
  text-transform: uppercase;
  border: solid 1px rgb(160, 160, 160);
  padding: 0 0.4em;
  unicode-bidi: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

/***************************************/

#mov-item.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
  height: 425px;
  padding-top: 0px;
  z-index: 0;
}

#mov-item.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 5000px;
}

#mov-item > .row {
  zoom: 1;
  margin-left: -20px;
}

#mov-item > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}

/*
#mov-content .middle {
    position: relative;
    overflow: hidden;
    padding-left: 50px;
    height: 355px;
    padding-top: 0px;
    z-index: 0;
}
*/

#mov-content > .content {
  position: relative;
  left: -245px;
  overflow: hidden;
  width: 1430px;
  top: -275px;
  z-index: 20;
  min-width: 940px;
  background-color: rgb(0, 0, 0);
  height: 720px;
  zoom: 1;
  margin-left: 0;
  padding-left: 95px;
}

#mov-content > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
  height: 425px;
  padding-top: 0px;
  z-index: 0;
}

#mov-content > .content > .img_bg_trans {
  position: absolute;
  top: 290px;
  z-index: 10;
}

#mov-content > .row {
  zoom: 1;
  margin-left: -20px;
}

#mov-content > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}

#mov-content > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 5000px;
}

/*******************************************************************************************************************************************/

.nav_mov_content {
  display: table-row;
  color: #fff;
  width: 100%;
  margin: 0px 15px;
}

.nav_mov_list {
  vertical-align: middle;
  color: rgb(132, 132, 132);
  width: 100%;
  padding-left: 0px;
}

div.nav_mov_content ul.nav_mov_list li:first-child {
  margin: 0px 0;
}

div.nav_mov_content ul.nav_mov_list li {
  position: relative;
  height: 35px;
  width: 100%;
  list-style: none;
  margin: 3px 5px;
}

div.nav_mov_content ul.nav_mov_list li i {
  font-size: 22px;
  font-weight: 400;
  height: 35px;
  min-width: 23px;
  border-radius: 12px;
  line-height: 35px;
  text-align: center;
  margin-left: 0px;
}

div.nav_mov_content ul.nav_mov_list li div {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
}

div.nav_mov_content ul.nav_mov_list li div.focus i {
  color: #ff9200;
  font-weight: 600;
  background-color: transparent;
  text-decoration: none;
}

div.nav_mov_content ul.nav_mov_list li div:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div.nav_mov_content ul.nav_mov_list li div:focus {
  outline-width: 0;
}

div.nav_mov_content ul.nav_mov_list li div.focus span.links_name {
  color: #ff9200;
}

div.nav_mov_content ul.nav_mov_list li div .links_name {
  position: absolute;
  margin-left: 50px;
  opacity: 1;
  pointer-events: auto;
  font-size: 21px;
  font-weight: 500;
  pointer-events: none;
}

/*==========================================================================================================================================================================*/

#slider {
  position: relative;
  display: flex;
  margin: 30px 0px;
  width: 1200px;
  /*
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        */
  border: 0;
  height: 6px;
  background: rgb(128, 128, 128);
  outline: none;
}

#slider .ui-slider-handle {
  position: absolute;
  margin: -4px 0 0 -9px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #50b0f9;
  border: 0;
  height: 18px;
  width: 18px;
  outline: none;
  cursor: pointer;
}

#slider .ui-slider-handle:hover,
#slider .ui-slider-handle:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#slider .ui-slider-range {
  background: #50b0f9;
}

#custom-handle {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: #b8b8b8;
  width: 160px;
  text-align: center;
  margin-top: -40px;
}

#slider_time {
  margin-top: 30px;
  margin-left: -15px;
  color: rgb(128, 128, 128);
}

.progress-step {
  position: absolute;
  width: 100%;
  top: 155px;
  font-size: 14px;
  text-align: center;
  color: rgb(128, 128, 128);
}

.progress_focus {
  position: absolute;
  top: 0px;
  width: 259px;
  height: 145px;
  margin: 0px;
  left: 515px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid rgba(255, 146, 0, 1);
}

.progress-list {
  display: block;
  height: 145px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.progress {
  position: relative;
  display: flex;
  left: -3200px;
}

.track {
  display: inline-block;
  width: 260px;
  height: 145px;
  text-align: center;
}

/*============================================================================================================================================================================*/

#slider_page.page {
  position: relative;
  min-width: 1280px;
  background-color: rgb(0, 0, 0);
  /*height: 720px;*/
  /*zoom: 1;*/
  margin-left: 0;
}

#slider_page.page .slider_footer {
  position: fixed;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
  z-index: 0;
  bottom: 0;
  /*background-color: rgb(250, 250, 250);*/
  overflow: hidden;
  width: 1240px;
  padding-bottom: 30px;
  padding-top: 30px;
  display: table;
  clear: both;
  background-image: url("../image/slider_bg_dark.png");
  background-repeat: repeat-x;
}

div#slider_page.page div.slider_footer div.rows {
  margin-left: 0px;
}

#slider_page.page .name_content {
  margin: 10px 0px;
  color: rgb(128, 128, 128);
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  float: left;
  width: 800px;
}

#slider_page.page .date_content {
  margin: 10px 0px;
  color: rgb(128, 128, 128);
  font-size: 16px;
  line-height: 18px;
  float: right;
  text-align: right;
  padding-right: 40px;
  float: right;
  width: 300px;
}

#slider_page.page #cleared {
  clear: both;
}

#slider_page.page .slider_arrow_down {
  display: block;
  width: 100%;
  height: 25px;
  background: url("../image/down-arrow.svg") no-repeat center 100%;
}

#slider_page.page .slider_arrow_up {
  display: block;
  width: 100%;
  height: 25px;
  background: url("../image/up-arrow.svg") no-repeat center 100%;
}

#slider_page.page div#epg-list {
  position: relative;
  margin-left: 0px;
}

#slider_page.page #epg {
  position: absolute;
  bottom: 0;
  top: 0px;
  margin-left: 0px;
}

#slider_page.page #trc_slider_epg {
  margin-left: -40px;
}

#slider_page.page #epg-content {
  margin-left: 240px !important;
}

/*
        #slider_page.page div#epg-list {
            position: relative;
            margin-left: 0px;
        }
        
        #slider_page.page #epg {
            position: relative;
            left: 225px !important;
            bottom: 0;
        }
*/

/**************************************************************************************************************************************************************/

#menucateg_container {
  float: left;
  display: table;
  vertical-align: middle;
  height: 720px;
  background-image: url("../image/bg_menu_category_dark.png");
  background-position-x: right;
  background-repeat: no-repeat;
  /*background-color: cadetblue;*/
}

#menu_category {
  display: table-cell;
  vertical-align: middle;
}

div#menu_category li {
  list-style-type: none;
  text-decoration: none;
}

div#menu_category li div.links_name {
  font-size: 18px;
  font-weight: 400;
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  height: 45px;
  width: 100%;
  list-style: none;
  line-height: 45px;
  width: 170px;
  padding-left: 45px;
}

div#menu_category li div.links_name.focus {
  font-size: 20px;
  color: #ff9200;
  font-weight: 500;
}

div#menu_category li div:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div#menu_category li div:focus {
  outline-width: 0;
}

@media only screen and (min-device-width: 1281px) and (max-device-width: 1920px) {
  body {
    zoom: 1.5;
  }
}
