body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  /*background-image: url("../image/bg.jpg");*/
}

/*VAZNO!!!!!!!!!!!!!!!!!!!*/
html {
  height: auto;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
body {
  height: auto;
  min-height: 100%;
  overflow: auto;
  position: relative;
}
#chanSub .chanSubDivOptions .chanSubSpan1 {
  display: inline-block;
  width: 80%;
  margin: 0.35vw auto;
  font-size: 1.40625vw;
  font-weight: 400;
  color: #898989;
}
#chanSub .chanSubDivOptions .chanSubSpan2 {
  display: inline-block;
  width: 80%;
  margin: 0.35vw auto;
  font-size: 1.40625vw;
  font-weight: 400;
  color: #898989;
}
.testKlasa {
  display: none;
}
#chanSub .chanSubDivWarning .subMessage {
  font-size: 1.40625vw;
  font-weight: 400;
  color: #898989;
}
#chanPin .chanSubDivWarning .subMessage {
  font-size: 1.40625vw;
  font-weight: 400;
  color: #898989;
}
.orange {
  color: #ff9200 !important;
  border-bottom: 2px solid #ff9200;
}
#chanSub .chanSubDivOptions {
  height: 50%;
}
#chanSub .chanSubDivWarning {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  height: 50%;
  width: 90%;
}
#chanSub,
#chanPin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 42vw;
  margin-top: 27vh;
  vertical-align: middle;
  width: 25vw;
  height: 20vh;
  border-radius: 5px;
  border: 1px black;
  background-color: #e8e8e8;
  box-shadow: 0 0 0 3px #c7c7c7;
  text-align: center;
}

video.vfull {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100vw;
  object-fit: fill;
  height: 100vh;
  overflow: hidden;
  webkit-transform: translate3d(0, 0, 0);
  background-color: black;
  transition: 0.3s ease;
  webkit-video-playable-inline: true;
}

.sjenka-child-div {
  position: absolute;
  display: block;
  top: 12.916666666666668vh;
  left: 11.71875vw;
  width: 37.96875vw;
  height: 38.05555555555556vh;
  box-shadow: 0 0 0 1000px #e8e8e8;
  margin: auto;
  z-index: -100;
  background-color: rgb(232, 232, 232);
}

#menu.sidebar {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  padding-left: 1.5625vw;
  padding-right: 1.5625vw;
  height: 100vh;
  z-index: 99;
  opacity: 1;
}

#menu.sidebar {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  padding-left: 1.5625vw;
  padding-right: 1.5625vw;
  height: 100%;
  z-index: 99;
  opacity: 0.87;
}

#menu.sidebar.active {
  width: 100%;
  opacity: 1;
}

#menu.slider_small_bg {
  background-image: url("../image/slider_small_bg.png");
  background-repeat: repeat-y;
}

#menu.bg_gradiant_trans {
  background-image: url("../image/slider_active_bg.png");
  background-repeat: repeat-y;
}

#menu.sidebar.active .logo_content .logo {
  color: #808080;
  display: flex;
  height: 6.944444444444445vh;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

#menu.sidebar #btn {
  width: 4.296875vw;
  margin-top: -2.083333333333333vh;
}

#menu.sidebar .logo_content .logo {
  width: 3.90625vw !important;
  margin-top: -0.6944444444444444vh;
}

#menu.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

#menu.logo_content .logo i {
  font-size: 2.1875vw;
  margin-right: 0.390625vw;
}

#menu.logo_content .logo .logo_name {
  font-size: 1.5625vw;
  font-weight: 400;
}

#menu.sidebar ul {
  margin-top: 2.7777777777777777vh;
}

#menu.sidebar ul li {
  position: relative;
  height: 6.25vh;
  width: 100%;
  list-style: none;
  line-height: 6.25vh;
  margin: 0.4166666666666667vh 0.390625vw;
}

#menu.sidebar ul li:first-child {
  margin: 0px 0;
}

#menu.sidebar ul li div {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
}

#menu.sidebar ul li div.focus {
  /*color: #ff9200;*/
  font-weight: 600;
}

#menu.sidebar ul li div.focus i {
  /*color: #ff9200;*/
  background-color: transparent;
  text-decoration: none;
  background-image: url("../image/pix.png");
  background-repeat: repeat-x;
  background-position: bottom;
  border-radius: 0px;
}

#menu.sidebar.active ul li div.focus i {
  color: #ff9200;
  background-color: transparent;
  text-decoration: none;
  background-image: url("../image/pix.png");
  background-repeat: repeat-x;
  background-position: bottom;
  border-radius: 0px;
}

#menu.sidebar ul li div.focus span.links_name {
  color: #ff9200;
}

#menu.sidebar ul li div:hover {
  color: #ff9200;
}

#menu.sidebar ul li div:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#menu.sidebar ul li div:focus {
  outline-width: 0;
}

#menu.sidebar ul li i {
  font-size: 1.7187500000000002vw;
  font-weight: 400;
  height: 5.833333333333333vh;
  min-width: 1.7968749999999998vw;
  border-radius: 12px;
  line-height: 6.944444444444445vh;
  text-align: center;
  margin-left: 0.78125vw;
}

#menu.sidebar .links_name {
  position: absolute;
  font-size: 1.640625vw;
  font-weight: 500;
  left: -23.4375vw;
  opacity: 1;
  pointer-events: none;
}

#menu.sidebar.active .links_name {
  position: absolute;
  margin-left: 3.90625vw;
  opacity: 1;
  pointer-events: auto;
  margin-top: 0.6944444444444444vh;
}

#menu.sidebar .nav_list {
  display: table-cell;
  vertical-align: middle;
  color: rgb(132, 132, 132);
  width: 100%;
  padding-left: 0px;
  padding-bottom: 8.333333333333332vh;
}

div.logo_content ul.nav_list {
  padding-top: 3.4722222222222223vh;
}

#menu.sidebar ul li:first-child {
  margin: 0px 0;
}

#menu.sidebar .logo_content {
  display: table-row;
  vertical-align: top;
  color: #fff;
  width: 100%;
  height: 6.944444444444445vh;
  padding-top: 3.4722222222222223vh;
}

#menu.sidebar .nav_content {
  display: table-row;
  color: #fff;
  width: 100%;
}

#menu.sidebar .profile_content {
  display: table-row;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 18.055555555555554vh;
}

#menu.home_content {
  position: absolute;
  height: 100vh;
  left: 0px;
  z-index: 0;
}

#menu.sidebar.active {
  z-index: 100;
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  #menu.sidebar {
    padding-left: 1.5625vw;
    padding-right: 1.5625vw;
  }
  #menu.sidebar ul li i {
    font-size: 1.875vw;
  }
}

/*
@media only screen and (min-device-width: 1281px) and (max-device-width: 1920px) {
    #menu.sidebar {
        padding-left: 30px;
        padding-right: 30px;
    }
    #menu.sidebar ul li i {
        font-size: 25px;
    }
}
*/

/*=============================================================================================================================================*/

#channel-list {
  display: block;
  position: fixed;
  height: auto;
  bottom: 0;
  top: 0;
  /*left: 0;*/
  /*right: 0;*/
  background-color: rgb(235, 235, 235);
  opacity: 0.85;
  overflow: hidden;
  width: 15.390625vw;
  margin-top: 7.638888888888889vh;
  margin-bottom: 0px;
  /*margin-left: 95px;*/
}

#channel-list::-webkit-scrollbar {
  display: none;
}

#channel-content {
  position: absolute;
}

#channel-list .channel-box {
  display: flex;
  flex-wrap: wrap;
  width: 15.390625vw;
  height: 15.416666666666668vh;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 6px solid rgb(235, 235, 235, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

#channel-list .channel-box:focus {
  /*outline: 1px solid rgba(88, 94, 113, .8) ;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0.3125vw solid rgba(255, 146, 0, 1) !important;
  outline: none;
}

#channel-list .channel-box:focus-visible {
  outline: none !important;
}

#channel-list .channel-box .number {
  display: inline-block;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  color: rgba(128, 128, 128, 1);
  padding-top: 1.3888888888888888vh;
  font-size: 1.25vw;
  height: 3.4722222222222223vh;
  padding-left: 0.78125vw;
  text-align: left;
}

#channel-list .channel-box img {
  margin-top: -4.166666666666666vh;
  margin-left: 0.78125vw;
  width: 90%;
  height: 90%;
  opacity: 1;

  /*
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
  */
}

#channel {
  position: inherit;
  display: block;
  text-align: center;
  /*left: 110px;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0.3125vw solid rgba(255, 146, 0, 1);
  border-radius: 4px;
  top: 0px;
  margin-top: 7.638888888888889vh;
  width: 15.390625vw;
  height: 15.416666666666668vh;
  /*left: 95px;*/
}

#channel.remove_focus {
  border: 0px solid rgb(200, 200, 200) !important;
  background-color: rgba(125, 125, 125, 0.1);
}

#channel:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#channel:focus {
  outline-width: 0;
}

/*
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  #channel-list {
    width: 197px;
    margin-top: 55px;
    margin-bottom: 0px;

  }
  #channel-list .channel-box {
    width: 197px;
    height: 111px;
  }
  #channel {
    margin-top: 55px;
    width: 197px;
    height: 111px;
  }
  #channel-list .channel-box .number {
    font-size: 16px;
  }
}


@media only screen and (min-device-width: 1281px) and (max-device-width: 1920px) {
    #channel-list {
        width: 230px;
        margin-top: 80px;
        margin-bottom: 0px;
        margin-left: 115px;
    }
    #channel-list .channel-box {
        width: 230px;
        height: 140px;
    }
    #channel {
        margin-top: 75px;
        width: 230px;
        height: 145px;
        left: 115px;
    }
    #channel-list .channel-box .number {
        font-size: 16px;
    }
}
*/

/*==========================================================================================================================================================================*/

#category-list {
  position: fixed;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: -0;
  top: 0;
  background-image: url("../image/category-list_bg_720.png");
  background-repeat: repeat-x;
  /*background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);*/
  overflow: hidden;
  /*margin-left: 95px;*/
  opacity: 1;
  height: 16.666666666666664vh;
  width: 15.390625vw;
}

#category-list .content {
  position: absolute;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  width: 100%;
}

#category-list .item {
  display: inline-block;
  font-size: 1.40625vw;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  width: 15.390625vw;
  text-align: center;
  padding-top: 2.7777777777777777vh;
  color: rgb(128, 128, 128);
  /*text-transform: uppercase;*/
  height: 4.861111111111112vh;
  background-color: rgb(232, 232, 232);
  opacity: 0.85;
}

#category {
  position: fixed;
  display: block;
  flex-wrap: wrap;
  top: 0px;
  width: 15.390625vw;
  height: 3.4722222222222223vh;
  text-align: center;
  color: rgb(128, 128, 128);
  font-weight: 600;
  padding-top: 4.166666666666666vh;
  z-index: -1;
}

#category:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#category:focus {
  outline-width: 0;
}

.w_100 {
  width: 100% !important;
}

#category.focus {
  -webkit-box-shadow: inset 0px 0px 0px 0.3125vw rgba(255, 146, 0, 1);
  -moz-box-shadow: inset 0px 0px 0px 0.3125vw rgba(255, 146, 0, 1);
  box-shadow: inset 0px 0px 0px 0.3125vw rgba(255, 146, 0, 1);
}

#category.fill {
  opacity: 0.85;
}

/*==========================================================================================================================================================================*/

#epg-category-list {
  position: fixed;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: -0;
  top: 0;
  background-image: url("../image/epg-category-list_bg_720.jpg");
  background-repeat: repeat-x;
  /*background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);*/
  overflow: hidden;
  /*margin-left: 95px;*/
  opacity: 1;
  margin-left: 0px;
  height: 7.638888888888889vh;
  width: 14.84375vw;
}

#epg-category-list .content {
  position: absolute;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  width: 100%;
}

#epg-category-list .item {
  display: inline-block;
  font-size: 0.75rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  width: 14.84375vw;
  text-align: center;
  padding-top: 3.4722222222222223vh;
  color: rgb(128, 128, 128);
}

#epg-category {
  position: fixed;
  display: block;
  flex-wrap: wrap;
  top: 0px;
  width: 3.4722222222222223vw;
  height: 3.4722222222222223vh;
  text-align: center;
  color: rgb(128, 128, 128);
  font-weight: 600;
  padding-top: 4.166666666666666vh;
  z-index: -1;
}

#epg-category:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#epg-category:focus {
  outline-width: 0;
}

.w_100 {
  width: 100% !important;
}

#epg-category.focus {
  -webkit-box-shadow: inset 0px 0px 0px 0.3125vw rgba(255, 146, 0, 1);
  -moz-box-shadow: inset 0px 0px 0px 0.3125vw rgba(255, 146, 0, 1);
  box-shadow: inset 0px 0px 0px 0.3125vw rgba(255, 146, 0, 1);
}

/*
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  #epg-category-list {
    margin-left: 0px;
    height: 55px;
    width: 190px;
    background-image: url("../image/epg-category-list_bg_720.jpg");
    background-repeat: repeat-x;
  }
  #epg-category-list .item {
    font-size: 0.75rem;
    width: 190px;
    padding-top: 25px;
  }
  #epg-category {
    width: 190px;
    height: 25px;
    padding-top: 30px;
  }
}
*/

/*
@media only screen and (min-device-width: 1281px) and (max-device-width: 1920px) {
    #category-list {
        margin-left: 115px;
        height: 120px;
        width: 230px;
        background-image: url("../image/category-list_bg.png");
        background-repeat: repeat-x;
        opacity: 1;
    }
    #category-list .item {
        font-size: 1rem;
        width: 230px;
        padding-top: 35px;
    }
    #category {
        width: 230px;
        height: 47px;
        padding-top: 30px;
    }
}
*/

/*==========================================================================================================================================================================*/

#epg-list {
  position: fixed;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  bottom: 0;
  /*background-image: url("../image/epg-list_bg_720.png");*/
  overflow: hidden;
  margin-left: 19.140625vw;
  height: 30.555555555555557vh;
  width: 100%;
}

#epg-list .content {
  position: absolute;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#epg-list .content .item {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0.6944444444444444vh 0.390625vw;
  border: 0px solid rgba(255, 255, 255, 0);
}

#epg {
  position: fixed;
  display: block;
  width: 19.53125vw;
  height: 29.86111111111111vh;
  text-align: center;
  left: 40.078125vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0.3125vw solid rgba(255, 146, 0, 1);
  border-radius: 3px;
  bottom: -0.6944444444444444vh;
  top: 0.2777777777777778vh;
  margin-left: 0.234375vw;
}

#epg:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#epg:focus {
  outline-width: 0;
}

/*==========================================================================================================================================================================*/

.epg-box {
  width: 19.84375vw;
  height: 30.555555555555557vh;
  margin: 0px;
}

.epg-box-border {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  border-left: 1px solid rgba(128, 128, 128, 0.1);
  border-right: 1px solid rgba(128, 128, 128, 0.1);
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

.epg-box div.epg-box-border img {
  position: absolute;
  width: 19.0625vw;
  height: 19.166666666666668vh;
  margin-top: 9.722222222222223vh;
  z-index: -5;
}

.epg-box .epg-box-border .fill {
  position: absolute;
  display: block;
  width: 19.0625vw;
  height: 9.722222222222223vh;
  color: rgb(128, 128, 128);
  background-color: rgb(250, 250, 250);
  opacity: 0.7;
}

.epg-box .epg-box-border .fill.focus {
  background-color: rgb(220, 220, 220) !important;
  color: rgb(30, 30, 30);
  opacity: 1;
}

.epg-box .epg-box-border .fill .name {
  position: absolute;
  display: block;
  height: 2.7777777777777777vh;
  width: 17.96875vw;
  color: rgb(128, 128, 128);
  text-align: left;
  padding: 1.1111111111111112vh 0.625vw;
  font-size: 1.40625vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.epg-box .epg-box-border .fill .time {
  position: absolute;
  bottom: 0px;
  display: inline-block;
  height: 2.7777777777777777vh;
  width: 9.375vw;
  color: rgb(128, 128, 128);
  text-align: left;
  padding: 1.1111111111111112vh 0.625vw;
  font-size: 1.171875vw;
}

.epg-box .epg-box-border .fill .date {
  position: absolute;
  bottom: 0px;
  display: inline-block;
  height: 2.7777777777777777vh;
  width: 9.375vw;
  color: rgb(128, 128, 128);
  text-align: right;
  padding: 1.1111111111111112vh 0.625vw;
  font-size: 1.171875vw;
  margin-left: 8.59375vw;
}

.light-grey {
  position: relative;
  width: 100%;
  background-image: url("../image/bg_status_bar.png");
  background-repeat: repeat-x;
  top: -0.9722222222222222vh;
}

.blue {
  width: 75%;
  background-color: rgb(235, 235, 235) !important;
}

/*========================================================================================================================================================*/

#lst-epg-list {
  position: fixed;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  top: 0;
  overflow: hidden;
  margin-left: 15.390625vw;
  height: 100%;
  width: 21.875vw;

  /*
  width: 430px;
  background-image: url("../image/bg_epg.png");
  */

  background-color: rgb(235, 235, 235);
  opacity: 0.9;

  /*
  background: rgb(235, 235, 235);
  background: -webkit-linear-gradient(360deg, rgba(235, 235, 235, 0.9) 0%, rgba(235, 235, 235, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
*/
}

#lst-epg-list .content {
  position: absolute;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-top: 2.083333333333333vh;
}

#lst-epg-list .content .item {
  display: block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0.6944444444444444vh 0.390625vw;
  padding-left: 0px;
  border: 0px solid rgba(255, 255, 255, 0);
}

#lst-epg-list .content .h-small {
  height: 7.708333333333334vh;
}
#lst-epg-list .content .h-normal {
  height: 15.416666666666668vh;
}

#lst-epg {
  position: relative;
  display: block;
  width: 21.875vw;
  height: 15.555555555555555vh;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0.3125vw solid rgba(255, 146, 0, 1);
  border-radius: 3px;
  top: -37.77777777777778vh;
  left: 0px;
}

#lst-epg:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#lst-epg:focus {
  outline-width: 0;
}
/*==========================================================================================================================================================================*/

.lst-epg-box-border {
  margin: 0px;
  padding: 0px;
  width: 21.875vw;
  height: 7.638888888888889vh;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}

.border-none {
  border-top: 0px solid rgba(128, 128, 128, 0.2);
}

.lst-epg-box .lst-epg-box-border .fill {
  position: absolute;
  display: block;
  width: 19.53125vw;
  padding-left: 0.78125vw;
  padding-right: 0.78125vw;
}

.lst-epg-box.h-normal .lst-epg-box-border .fill .name {
  position: absolute;
  top: 5.555555555555555vh;
  display: inline-block;
  white-space: pre-wrap;
  height: 7.638888888888889vh;
  width: 19.53125vw;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-top: 0px;
  font-size: 1.25vw;
}

.lst-epg-box.h-normal .lst-epg-box-border .fill .time {
  position: absolute;
  top: 2.083333333333333vh;
  display: inline-block;
  height: 3.4722222222222223vh;
  width: 7.03125vw;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-top: 0px;
  font-size: 1.09375vw;
}

.lst-epg-box.h-normal .lst-epg-box-border .fill .date {
  position: absolute;
  top: 2.083333333333333vh;
  left: 1.953125vw;
  display: inline-block;
  height: 3.4722222222222223vh;
  width: 3.4722222222222223vw;
  color: rgb(128, 128, 128);
  text-align: right;
  padding-left: 0.78125vw;
  padding-right: 0.390625vw;
  padding-top: 0px;
  font-size: 1.09375vw;
  margin-left: 7.8125vw;
}

.lst-epg-box.h-small .lst-epg-box-border .fill .name {
  position: absolute;
  top: 4.166666666666666vh;
  display: inline-block;
  white-space: pre-wrap;
  max-height: 3.4722222222222223vh;
  width: 19.53125vw;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-top: 0px;
  font-size: 1.25vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.lst-epg-box.h-small .lst-epg-box-border .fill .time {
  position: absolute;
  top: 0.6944444444444444vh;
  display: inline-block;
  height: 3.4722222222222223vh;
  width: 7.03125vw;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-top: 0px;
  font-size: 1.09375vw;
}

.lst-epg-box.h-small .lst-epg-box-border .fill .date {
  position: absolute;
  top: 0.6944444444444444vh;
  left: 1.953125vw;
  display: inline-block;
  height: 3.4722222222222223vh;
  width: 7.8125vw;
  color: rgb(128, 128, 128);
  text-align: right;
  padding-left: 0.78125vw;
  padding-right: 0.390625vw;
  padding-top: 0px;
  font-size: 1.09375vw;
  margin-left: 7.8125vw;
}

.lst-light-grey {
  position: static;
  width: 100%;
  background-color: rgba(70, 70, 70, 0.5) !important;
  margin-top: 13.194444444444445vh;
}

.lst-epg-box.h-small .lst-icon {
  position: static;
  width: 100%;
  color: rgb(128, 128, 128);
  margin-top: 0.6944444444444444vh;
  text-align: right;
}

.lst-epg-box.h-normal .lst-icon {
  position: static;
  width: 100%;
  color: rgb(128, 128, 128);
  margin-top: 2.083333333333333vh;
  text-align: right;
}

.lst-epg-box.h-small .lst-arrow {
  position: static;
  width: 100%;
  color: rgb(128, 128, 128);
  margin-top: 0.6944444444444444vh;
  text-align: center;
  font-size: 2.734375vw;
}

.lst-blue {
  width: 75%;
  background-color: rgb(235, 235, 235) !important;
}

/*==========================================================================================================================================================================*/

div#video img {
  position: fixed;
  display: block;
  height: 100%;
  width: auto;
  background-color: rgb(235, 235, 235);
  z-index: -500;
}

/*==========================================================================================================================================================================*/

/*============ Template

/* 
container-fluid - page
sidebar - nav
*/

#start_page.page {
  position: relative;
  min-width: 73.4375vw;
  /*background-color: rgb(232, 232, 232);*/

  /*height: 720px;*/
  /*zoom: 1.5;*/
  margin-left: 0;
  padding-left: 7.421875vw;
}

#start_page.page > .content {
  position: relative;
  left: -19.140625vw;
  overflow: hidden;
  width: 111.71875vw;
}

#start_page.page > .content > .header {
  padding-top: 4.166666666666666vh;
  padding-left: 3.90625vw;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#start_page.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 3.90625vw;
  height: 100vh;
  padding-top: 0px;
  z-index: 0;
  margin-top: 7.638888888888889vh;
}

#start_page.page > .content > .img_bg_trans {
  position: absolute;
  top: 40.27777777777778vh;
  z-index: 10;
}

#start_page > .row {
  zoom: 1;
  margin-left: -1.5625vw;
}

#start_page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 1.5625vw;
}

#start_page > .span5 {
  width: 21.875vw;
}

#start_page > .span6 {
  width: 26.5625vw;
}

#start_page.page > .nav {
  position: absolute;
  top: 0;
  left: 1.5625vw;
  width: 17.1875vw;
}

#start_page.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 694.4444444444445vh;
}

/*=====================================================================================================================================
LG - veliki
*/

.listbox {
  display: inline-block;
}

.list-data-lg {
  position: relative;
  display: block;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
  height: 50.69444444444444vh;
}

.list-data-lg > .name_category {
  display: block;
  position: relative;
  top: 1.6666666666666667vh;
  left: 19.53125vw;
  color: rgb(128, 128, 128);
  text-align: left;
  font-size: 1.40625vw;
  margin-left: 0.390625vw;
  height: 4.166666666666666vh;
  padding-top: 0.6944444444444444vh;
  padding-bottom: 0.6944444444444444vh;
  font-weight: 500;
  text-transform: uppercase;
}

.list-content {
  position: relative;
  top: 0;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.list-data-lg .item {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.list-data-lg .box-image {
  display: block;
  width: 38.28125vw;
  height: 38.19444444444444vh;
  background-color: rgba(200, 200, 200, 1);
}

.list-data-lg img {
  height: 38.333333333333336vh;
  width: 38.28125vw;
}

.list-box-lg {
  width: 38.28125vw;
  overflow: hidden;
  margin: 0.6944444444444444vh 0.78125vw;
}

.list-box-lg .fill .name {
  position: relative;
  display: block;
  top: 0.6944444444444444vh;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-left: 0.390625vw;
  font-size: 1.328125vw;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  width: 37.890625vw;
  max-height: 3.6em;
  height: 3.6em;
}

.list-box-lg .fill .name.active {
  color: rgb(255, 120, 0);
  font-weight: 500;
  /*text-shadow: 1px 1px 3px rgb(200 200 200);*/
}

div.list-box-lg.item div.light-grey {
  position: relative;
  top: 36.80555555555556vh;
  width: 37.5vw;
  margin-top: 0px;
  margin-top: -0.5555555555555556vh;
  margin-left: 0.390625vw;
  margin-right: 0.390625vw;
}

.list-box-lg .blue {
  width: 75%;
  background-color: rgb(235, 235, 235) !important;
}

.list-data-lg .control_focus {
  position: absolute;
  top: 5.833333333333333vh;
  width: 38.671875vw;
  height: 39.166666666666664vh;
  margin: 0px;
  text-align: center;
  left: 20vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 0px;
}

.list-data-lg .control_focus.focus {
  border: 0.390625vw solid rgba(255, 146, 0, 1);
  border-radius: 0.390625vw;
}

.list-data-lg .control_focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-lg .control_focus:focus {
  border: 0.3125vw solid rgba(255, 146, 0, 1);
  border-radius: 0.234375vw;
}

.list-data-lg .control_focus.focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-lg .control_focus.focus:focus {
  outline-width: 0;
}

/*=====================================================================================================================================
MD - veliki
*/

.list-data-md {
  position: relative;
  display: block;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
  height: 30.555555555555557vh;
}

.list-data-md > .name_category {
  display: block;
  position: relative;
  left: 19.53125vw;
  color: rgb(128, 128, 128);
  text-align: left;
  font-size: 1.40625vw;
  margin-left: 0.390625vw;
  height: 4.166666666666666vh;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 0.6944444444444444vh;
  top: 1.6666666666666667vh;
  text-transform: uppercase;
}

.list-content {
  position: relative;
  top: 0;
  white-space: nowrap;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.list-data-md .item {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.list-data-md .box-image {
  display: block;
  width: 18.75vw;
  height: 18.75vh;
  background-color: rgba(200, 200, 200, 1);

  /*					 
  position: absolute;
  display: inline;
  width: 240px;
  height: 180px;
   */
}

.list-data-md img {
  width: 18.75vw;
  height: 18.75vh;
}

.list-box-md {
  width: 18.75vw;
  overflow: hidden;
  margin: 0.6944444444444444vh 0.78125vw;
}

.list-box-md .fill .name {
  position: relative;
  display: block;
  top: 0px;
  color: rgb(128, 128, 128);
  text-align: left;
  padding-left: 0.390625vw;
  font-size: 1.328125vw;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  width: 18.359375vw;
  max-height: 6.25vh;
  height: 6.25vh;
}

.list-box-md .fill .name.active {
  color: rgb(255, 120, 0);
  font-weight: 500;
  /*text-shadow: 1px 1px 3px rgb(200 200 200);*/
}

div.list-box-md.item div.light-grey {
  position: relative;
  top: 17.5vh;
  width: 17.96875vw;
  margin-top: 0px;
  margin-left: 0.390625vw;
  margin-right: 0.390625vw;
  margin-top: -0.5555555555555556vh;
  height: 0.5555555555555556vh;
}

div.list-box-md.item div.light-grey-empty {
  position: relative;
  top: 18.75vh;
  width: 100%;
  margin-top: 0px;
  margin-top: -0.5555555555555556vh;
  height: 0.5555555555555556vh;
}

.list-box-md .blue {
  width: 75%;
  background-color: rgb(235, 235, 235) !important;
}

.list-data-md .control_focus {
  position: absolute;
  top: 5vh;
  width: 18.984375vw;
  height: 19.583333333333332vh;
  margin: 0px;
  text-align: center;
  left: 20.078125vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 0px;
}

.list-data-md .control_focus.focus {
  border: 0.3125vw solid rgba(255, 146, 0, 1);
  border-radius: 0.234375vw;
}

.list-data-md .control_focus:focus {
  border: 0.3125vw solid rgba(255, 146, 0, 1);
  border-radius: 0.234375vw;
}

.list-data-md .control_focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-md .control_focus:focus {
  outline-width: 0;
}

.list-data-md .control_focus.focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-md .control_focus.focus:focus {
  outline-width: 0;
}

/****************************************************/

/****************************************************/

.list-data-plg {
  position: relative;
  display: block;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
  height: 59.02777777777778vh;
}

.list-data-plg > .name_category {
  display: block;
  position: relative;
  left: 19.53125vw;
  color: rgb(128, 128, 128);
  text-align: left;
  font-size: 1.40625vw;
  margin-left: 0.390625vw;
  /*height: 30px;*/
  font-weight: 500;
  padding-top: 0.6944444444444444vh;
  padding-bottom: 0px;
  /*top: 10px;*/
  text-transform: uppercase;
}

.list-data-plg .item {
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.list-data-plg .box-image {
  display: block;
  width: 19.53125vw;
  height: 46.52777777777778vh;
  background-color: rgba(200, 200, 200, 1);
}

.list-data-plg img {
  height: 46.52777777777778vh;
  width: 19.53125vw;
}

.list-box-plg {
  width: 19.53125vw;
  margin: 0px;
  overflow: hidden;
  margin: 0.6944444444444444vh 0.78125vw;
}

.list-box-plg .fill .name {
  position: relative;

  color: rgb(128, 128, 128);
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 20.3125vw;
  height: 5.277777777777778vh;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1.40625vw;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2777777777777778vh 0.15625vw;
}

.list-box-plg .fill .name.active {
  color: rgb(255, 120, 0);
  font-weight: 500;
  /*text-shadow: 1px 1px 3px rgb(200 200 200);*/
}

div.list-box-plg.item div.light-grey {
  position: relative;
  top: 18.75vh;
  width: 100%;
  background-color: rgb(70, 70, 70) !important;
  margin-top: 0px;
  margin-top: -0.5555555555555556vh;
}

.list-box-plg .blue {
  width: 75%;
  background-color: rgb(235, 235, 235) !important;
}

.list-data-plg .control_focus {
  position: absolute;
  top: 4.444444444444445vh;
  width: 20.15625vw;
  height: 46.666666666666664vh;
  margin: 0px;
  text-align: center;
  left: 19.21875vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 0px;
}

.list-data-plg .control_focus.focus {
  border: 0.390625vw solid rgba(255, 146, 0, 1);
  border-radius: 0.390625vw;
}

.list-data-plg .control_focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-plg .control_focus:focus {
  outline-width: 0;
}

.list-data-plg .control_focus.focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-plg .control_focus.focus:focus {
  outline-width: 0;
}

/****************************************************/

.list-data-pmd {
  position: relative;
  display: block;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
  height: 38.88888888888889vh;
}

.list-data-pmd > .name_category {
  display: block;
  position: relative;
  left: 19.53125vw;
  color: rgb(128, 128, 128);
  text-align: left;
  font-size: 1.25vw;
  margin-left: 0.390625vw;
  /*height: 16px;*/
  font-weight: 500;
  padding-top: 0.6944444444444444vh;
  padding-bottom: 0.6944444444444444vh;
}

.list-data-pmd .item {
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.list-data-pmd .box-image {
  display: block;
  width: 11.71875vw;
  height: 27.77777777777778vh;
  background-color: rgba(200, 200, 200, 1);
}

.list-data-pmd img {
  height: 27.916666666666668vh;
  width: 11.71875vw;
}

.list-box-pmd {
  width: 11.71875vw;
  overflow: hidden;
  margin: 0.6944444444444444vh 0.78125vw;
}

.list-box-pmd .fill .name {
  position: relative;
  color: rgb(128, 128, 128);
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 11.71875vw;
  height: 5.277777777777778vh;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1.09375vw;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  padding: 0.2777777777777778vh 0.15625vw;
  top: 0.4166666666666667vh;
}

.list-box-pmd .fill .name.active {
  color: rgb(255, 120, 0);
  font-weight: 500;
  /*text-shadow: 1px 1px 3px rgb(200 200 200);*/
}

div.list-box-pmd.item div.light-grey {
  position: relative;
  top: 18.75vh;
  width: 100%;
  background-color: rgb(70, 70, 70) !important;
  margin-top: 0px;
  margin-top: -0.5555555555555556vh;
}

.list-box-pmd .blue {
  width: 75%;
  background-color: rgb(235, 235, 235) !important;
}

.list-data-pmd .control_focus {
  position: absolute;
  top: 4.305555555555555vh;
  width: 12.34375vw;
  height: 28.61111111111111vh;
  margin: 0px;
  text-align: center;
  left: 19.21875vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 0px;
}

.list-data-pmd .control_focus.focus {
  border: 0.3125vw solid rgba(255, 146, 0, 1);
  border-radius: 0.3125vw;
}

.list-data-pmd .control_focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-pmd .control_focus:focus {
  outline-width: 0;
}

.list-data-pmd .control_focus.focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-data-pmd .control_focus.focus:focus {
  outline-width: 0;
}

/* skrivanje slika u listama */
/*
.list-content img {
  display: none;
}
*/

.list-content .is-active img {
  display: block;
}

/*==========================================================================================================================================================================*/

/*============ Template

/* 
container-fluid - page
sidebar - nav
*/

#search_page.page {
  position: relative;
  min-width: 73.4375vw;
  background-color: rgb(232, 232, 232);
  /*height: 720px;*/
  zoom: 1;
  margin-left: 0;
  padding-left: 7.421875vw;
}

#search_page.page > .content {
  position: relative;
  left: 0px;
  overflow: hidden;
  height: 100vh;
}

#search_page.page > .content > .header {
  padding-top: 4.166666666666666vh;
  padding-left: 2.34375vw;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#search_page.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 3.90625vw;
  padding-top: 0px;
  z-index: 0;
  left: 4.296875vw;
  top: 7.638888888888889vh;
}

#search_page.page > .content > .img_bg_trans {
  position: absolute;
  top: 40.27777777777778vh;
  z-index: 10;
}

#search_page > .row {
  zoom: 1;
  margin-left: -20px;
}

#search_page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 1.5625vw;
}

#search_page > .span1 {
  width: 4.375vw;
}

#search_page > .span5 {
  width: 21.875vw;
}

#search_page > .span6 {
  width: 26.5625vw;
}

#search_page.page > .navbar {
  position: absolute;
  top: 0;
  left: 7.8125vw;
  width: 21.484375vw;
  height: 96.52777777777779vh;
  padding-left: 1.953125vw;
  padding-top: 8.333333333333332vh;
  padding-right: 3.90625vw;
  background-color: rgb(232, 232, 232);
  z-index: 10;
}

#search_page.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
}

/*============================================================================================================*/

#id_search {
  display: block;
  font-size: 1.875vw;
  width: 21.484375vw;
  padding-bottom: 0.6944444444444444vh;
  margin-bottom: 3.4722222222222223vh;
  border-bottom: 2px solid rgb(128, 128, 128);
  color: rgb(128, 128, 128);
  height: 4.166666666666666vh;
}

#keyboard {
  position: relative;
  font-size: 1.40625vw;
}

#keyboard > .row {
  zoom: 1;
  margin: 1% 0;
  overflow: auto;
}

#keyboard > .row > [class*="span"] {
  display: inline;
  float: left;
}

#keyboard > .row > .span1 {
  width: 3.515625vw;
  height: 5.555555555555555vh;
}

#keyboard > .row > .span1-5 {
  width: 5.859375vw;
  height: 6.25vh;
}

#keyboard > .row > .span3 {
  width: 10.546875vw;
  height: 6.25vh;
}

#keyboard > .row > .span4 {
  width: 14.0625vw;
  height: 6.25vh;
}

#keyboard > .row > [class*="span"] > .cell {
  text-align: center;
  color: rgb(132, 132, 132);
  font-weight: 500;
}

#keyboard > .row > [class*="span"] > .cell > svg.icon_color {
  fill: rgba(128, 128, 128, 1);
}

#keyboard > .span1-5 {
  width: 3.5937499999999996vw;
}

#key_keyboard {
  position: absolute;
  top: 1.3888888888888888vh;
  width: 3.515625vw;
  height: 5.555555555555555vh;
  margin-top: -1.3888888888888888vh;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div#key_keyboard.focus {
  /*  
  border: 3px solid rgba(255, 146, 0, 1);
  border-radius: 3px;
*/
}

div#key_keyboard.focus:focus {
  border: 0.234375vw solid rgba(255, 146, 0, 1);
  border-radius: 0.234375vw;
}

div#key_keyboard:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div#key_keyboard:focus {
  outline-width: 0;
}

div#key_keyboard.focus :focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div#key_keyboard.focus :focus {
  outline-width: 0;
}

.row_suggest {
  position: relative;
  display: block;
  height: 2.7777777777777777vh;
  width: 17.96875vw;
  color: rgb(128, 128, 128);
  text-align: left;
  padding: 1.1111111111111112vh 0.625vw;
  font-size: 1.40625vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row_suggest:focus {
  color: rgba(255, 146, 0, 1);
}

.id_loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: url("../image/loading_buffering_12.gif") 50% 50% no-repeat
    rgb(232, 232, 232);
}
/*==========================================================================================================================================================================*/

/*==========================================================================================================================================================================*/

#guidetv.page {
  position: relative;
  min-width: 73.4375vw;
  background-color: rgb(235, 235, 235);
  /*height: 720px;*/
  zoom: 1;
  margin-left: 0;
  padding-left: 7.421875vw;
  height: 100vh;
}

#guidetv.page > .content {
  position: relative;
  left: 0px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  top: 7.638888888888889vh;
  height: 66.66666666666666vh;
}

#guidetv.page > .content::-webkit-scrollbar {
  display: none;
}

#guidetv.page > .content > .header {
  padding-top: 4.166666666666666vh;
  padding-left: 2.34375vw;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#guidetv.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 3.90625vw;
  padding-top: 0px;
  z-index: 0;
  left: 8.59375vw;
  top: 3.4722222222222223vh;
}

#guidetv.page > .content > .img_bg_trans {
  position: absolute;
  top: 40.27777777777778vh;
  z-index: 10;
}

#guidetv.page > .row {
  /*zoom: 1;*/
  margin-left: -1.5625vw;
}

#guidetv.page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 1.5625vw;
}

#guidetv.page > .span1 {
  width: 4.375vw;
}

#guidetv.page > .span5 {
  width: 21.875vw;
}

#guidetv.page > .span6 {
  width: 26.5625vw;
}

#guidetv.page > .navbar {
  position: absolute;
  top: 0;
  left: 7.8125vw;
  width: 25.78125vw;
  height: 96.52777777777779vh;
  padding-left: 1.953125vw;
  padding-top: 3.4722222222222223vh;
  padding-right: 3.90625vw;
  background-color: rgb(232, 232, 232);
  z-index: 10;
}

#guidetv.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
}

/***************************************************************************************************************************************************/

#guidetv.page .channel-list {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(235, 235, 235);
  opacity: 0.85;
  margin-bottom: 0px;
  /*overflow-y: hidden;*/
}

#guidetv.page .channel-list::-webkit-scrollbar {
  display: none;
}

#guidetv.page .channel-content {
  width: 93.75vw;
}

#guidetv.page .channel-list .channel-box {
  display: flex;
  flex-wrap: wrap;
  width: 14.84375vw;
  height: 13.194444444444445vh;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 6px solid rgb(235, 235, 235, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

#guidetv.page .channel-list .channel-box:focus {
  /*outline: 1px solid rgba(88, 94, 113, .8) ;*/
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border: 6px solid rgba(255, 146, 0, 1) !important;*/
  outline: none;
}

#guidetv.page .channel-list .channel-box:focus-visible {
  outline: none !important;
}

#guidetv.page .channel-list .channel-box .number {
  position: relative;
  color: rgba(128, 128, 128, 1);
  padding-top: 0.6944444444444444vh;
  font-size: 0.9375vw;
  flex-basis: 100%;
  height: 1.3888888888888888vh;
  padding-left: 0.46875vw;
  text-align: left;
}

#guidetv.page .channel-list .channel-box:focus .number {
  color: rgba(255, 146, 0, 1);
  font-weight: bold;
}

#guidetv.page .channel-list .channel-box img {
  position: relative;
  opacity: 1;
  margin-top: -1.171875vh;
  margin-left: 1.953125vw;
  height: 85%;
}

.span1 {
  float: left;
  width: 50%;
}

#guidetv .row {
  display: table;
  margin: 0% 0;
  /*background-color: rgb(238, 238, 238);*/
}

/*
#guidetv>.row>[class*="span"] {
    display: inline;
    float: left;
    margin-left: 20px;
}
*/

#guidetv.page .row .span1 {
  float: left;
  width: 14.84375vw;
  height: 13.055555555555557vh;
}

#guidetv.page .span2 {
  float: left;
  width: 77.34375vw;
  height: 13.055555555555557vh;
}

div#guidetv.page .live-list {
  position: relative;
  display: block;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  z-index: 0;
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
}

div#guidetv.page .live-content {
  position: relative;
  top: 0;
  left: -26.5625vw;
  white-space: nowrap;
  display: table;
  /*border-top: 1px solid rgba(128, 128, 128, 0.2);*/
}

div#guidetv.page .live-content .item {
  display: table-cell;
  width: 23.046875vw;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1.1111111111111112vh 1.5625vw;
  height: 13.055555555555557vh;
  /*background: rgb(225, 225, 225);*/
  border-right: 1px solid rgba(128, 128, 128, 0.2);
}

div#guidetv.page .epg_ch_focus {
  display: block;
  height: 13.055555555555557vh;
  width: 26.328125000000004vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0.3125vw solid rgba(255, 146, 0, 1) !important;
  border-radius: 4px;
  position: absolute;
  left: 52.34375vw;
}

div#guidetv.page .live-content .item .name {
  display: table-caption;
  color: rgb(128, 128, 128);
  font-size: 1.40625vw;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 23.046875vw;
  height: 5.555555555555555vh;
}

div#guidetv.page .live-content .item .date {
  display: table-cell;
  color: rgb(128, 128, 128);
  font-size: 1.09375vw;
  width: 11.71875vw;
  height: 2.5vh;
  text-align: left;
  padding: 0.6944444444444444vh 0px;
}

div#guidetv.page .live-content .item .time {
  display: table-cell;
  color: rgb(128, 128, 128);
  font-size: 1.09375vw;
  width: 11.71875vw;
  height: 2.5vh;
  text-align: right;
  padding: 0.6944444444444444vh 0px;
}

div#guidetv.page .live-content .item .progress {
  width: 23.046875vw;
}

div#guidetv.page .light-grey {
  width: 100%;
  background-color: rgb(70, 70, 70) !important;
  margin-top: -0.1388888888888889vh;
}

/*
div#guidetv.page .channel-list .channel-box:focus div.focus_box {
    position: absolute;
    left: 482px;
    width: 330px;
    height: 95px;
    margin-top: -5px;
    background-color: rgb(19, 140, 233) !important;
    opacity: 0.15;
    border-width: 1px;
    border-color: #ff9200;
}
*/

div#guidetv.page .channel-list .channel-box:focus div.focus_box {
  /*
    position: absolute;
    left: 477px;
    width: 330px;
    height: 95px;
    margin-top: -85px;
    background-color: rgb( 255, 146, 0) !important;
    opacity: 0.2;
    */
  position: relative;
  left: 37.96875vw;
  width: 27.65625vw;
  height: 13.194444444444445vh;
  margin-top: -11.805555555555555vh;
  background-color: rgb(255, 146, 0) !important;
  opacity: 0.2;
  display: block;
  z-index: 20;
  top: 0px;
  margin-top: 2.5vh;
}

#guidetv.page .epg_footer {
  position: fixed;
  bottom: 0;
  width: 46.875vw;
  height: 26.38888888888889vh;
  width: 93.75vw;
  /*background-color: #FF9200;*/
}

#guidetv.page .epg_footer {
  position: fixed;
  bottom: 0;
  height: 26.38888888888889vh;
  width: 93.75vw;
  background-color: #ffffff;
}

#guidetv.page .epg_footer {
  position: fixed;
  bottom: 0;
  height: 25vh;
  width: 93.75vw;
  background-image: url("../image/bg_epg_footer.jpg");
  background-repeat: repeat-x;
}

#guidetv.page div.epg_footer div.row span.col1 {
  float: left;
  width: 14.84375vw;
}

#guidetv.page .epg_footer .col1 img {
  padding-left: 0.390625vw;
  padding-right: 0.390625vw;
  margin-top: 3.4722222222222223vh;
  text-align: center;
}

#guidetv.page .epg_footer .col2 {
  float: right;
  width: 77.34375vw;
  padding-left: 1.171875vw;
  padding-top: 3.4722222222222223vh;
}

#guidetv.page .epg_footer .c_name {
  display: inline-block;
  width: 15.625vw;
}

#guidetv.page .epg_footer .epg_name {
  display: inline-block;
  font-size: 1.40625vw;
  font-weight: 500;
  color: rgb(128, 128, 128);
  width: 59.375vw;
}

#guidetv.page .epg_footer .epg_date {
  display: inline-block;
  width: 15.625vw;
  font-size: 1.25vw;
  font-weight: 500;
  color: rgb(128, 128, 128);
  text-align: right;
}

#guidetv.page .epg_footer .comment {
  display: block;
  width: 70.3125vw;
  font-size: 1.25vw;
  text-align: left;
  color: rgb(128, 128, 128);
}

/*==========================================================================================================================================================================*/

/*============ Template

/* 
container-fluid - page
sidebar - nav
*/

#vod_page.page {
  position: relative;
  min-width: 73.4375vw;
  background-color: rgb(232, 232, 232);
  /*height: 720px;*/
  zoom: 1;
  margin-left: 0;
  padding-left: 7.421875vw;
}

#vod_page.page > .row {
  margin: 0.6944444444444444vw 0;
  overflow: auto;
}

#vod_page.page > .content {
  position: relative;
  left: -19.140625vw;
  overflow: hidden;
  width: 111.71875vw;
  padding-top: 2.083333333333333vh;
  top: 1.3888888888888888vh;
}

#vod_page.page > .content > .header {
  padding-top: 0px;
  padding-left: 2.34375vw;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#vod_page.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 3.90625vw;
  height: 100vh;
  padding-top: 0px;
  z-index: 0;
}

#vod_page.page > .content > .img_bg_trans {
  position: absolute;
  top: 40.27777777777778vh;
  z-index: 10;
}

.rowxx {
  zoom: 1;
  margin-left: -1.5625vw;
}

#vod_page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 1.5625vw;
}

#vod_page > .span5 {
  width: 21.875vw;
}

#vod_page > .span6 {
  width: 26.5625vw;
}

#vod_page.page > .nav {
  position: absolute;
  top: 0;
  left: 1.5625vw;
  width: 17.1875vw;
}

#vod_page.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
  /*height: 5000px;*/

  /* overflow: scroll; */
  /* -webkit-transform:translate3d(0,0,0); */

  /* -webkit-backface-visibility: hidden; OLSA */
  -webkit-transform-style: preserve-3d;
}

/*==========================================================================================================================================================================*/

/*============ Template

/* 
container-fluid - page
sidebar - nav
*/

#series_page.page {
  position: relative;
  min-width: 73.4375vw;
  background-color: rgb(232, 232, 232);
  /*height: 720px;*/
  zoom: 1;
  margin-left: 0;
  padding-left: 7.421875vw;
}

#series_page.page > .content {
  position: relative;
  left: -19.140625vw;
  overflow: hidden;
  width: 111.71875vw;
}

#series_page.page > .content > .header {
  padding-top: 4.166666666666666vh;
  padding-left: 3.90625vw;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#series_page.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 3.90625vw;
  height: 100vh;
  padding-top: 0px;
  z-index: 0;
  margin-top: 7.638888888888889vh;
}

#series_page.page > .content > .img_bg_trans {
  position: absolute;
  top: 40.27777777777778vh;
  z-index: 10;
}

#series_page > .row {
  zoom: 1;
  margin-left: -1.5625vw;
}

#series_page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 1.5625vw;
}

#series_page > .span5 {
  width: 21.875vw;
}

#series_page > .span6 {
  width: 26.5625vw;
}

#series_page.page > .nav {
  position: absolute;
  top: 0;
  left: 1.5625vw;
  width: 17.1875vw;
}

#series_page.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 694.4444444444445vh;
}

/*==========================================================================================================================================================================*/

/*============ Template

/* 
container-fluid - page
sidebar - nav
*/

#radio_page.page {
  position: relative;
  min-width: 73.4375vw;
  background-color: rgb(232, 232, 232);
  /*height: 720px;*/
  zoom: 1;
  margin-left: 0;
  padding-left: 7.421875vw;
}

#radio_page.page > .content {
  position: relative;
  left: -19.140625vw;
  overflow: hidden;
  width: 111.71875vw;
}

#radio_page.page > .content > .header {
  padding-top: 4.166666666666666vh;
  padding-left: 3.90625vw;
  padding-bottom: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
}

#radio_page.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 3.90625vw;
  height: 59.02777777777778vh;
  padding-top: 0px;
  z-index: 0;
}

#radio_page.page > .content > .img_bg_trans {
  position: absolute;
  top: 40.27777777777778vh;
  z-index: 10;
}

#radio_page > .row {
  zoom: 1;
  margin-left: -1.5625vw;
}

#radio_page > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 1.5625vw;
}

#radio_page > .span5 {
  width: 21.875vw;
}

#radio_page > .span6 {
  width: 26.5625vw;
}

#radio_page.page > .nav {
  position: absolute;
  top: 0;
  left: 1.5625vw;
  width: 17.1875vw;
}

#radio_page.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 694.4444444444445vh;
}

/*=====================================================================================================================================*/

#mov-item {
  position: relative;
  min-width: 73.4375vw;
  background-color: rgb(232, 232, 232);
  height: 100vh;
  zoom: 1;
  margin-left: 0;
  padding-left: 7.421875vw;
}

.mov-mainbox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0 0 5.46875vw;
  overflow: hidden;
}

#mov-item .background {
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /*overflow: hidden;*/
}

#mov-item .jawBoneBackground {
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 65%;
}

#mov-item .background .vignette {
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 1;
  background: url("../image/nav-shadow_720_4.png") no-repeat center 100%;
  height: 75vh;
  left: 3.671875vw;
}

.image-rotator {
  position: relative;
  overflow: hidden;
}

#mov-item .jawBoneBackground .image-rotator-image {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  background-position: center 10%;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 1;
  height: 63.888888888888886vh;
}

.image-rotator .image-rotator-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: 0;
}

#mov-item .jawBone {
  padding: 5.555555555555555vh 0 1.6666666666666667vh 1.171875vw;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#mov-item h1,
#mov-item h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

#mov-item .jawBone .jawBoneCommon {
  height: 33.3vw;
  margin-top: 0.3em;
}

#mov-item .jawBone .jawBoneCommon {
  display: inline-block;
  margin-bottom: 2.7777777777777777vh;
  width: 100%;
  height: 33.3vw;
}

#mov-item .jawBone .jawBoneCommon .jawBonePanes {
  position: relative;
  opacity: 1;
  left: 0.78125vw;
  z-index: 2;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  -o-transition: -o-transform 300ms;
  -moz-transition: transform 300ms, -moz-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms, -moz-transform 300ms,
    -o-transform 300ms;
}

#mov-item .jawBone .jawBoneCommon .jawBonePanes .overview {
  margin-top: 0.3em;
}

#mov-item .jawBone .jawBoneCommon .meta {
  position: relative;
  z-index: 2;
  color: rgb(128, 128, 128);
}

#mov-item .jawBone .jawBoneCommon .meta .year {
  margin: 0.6944444444444444vh 0px;
}

#mov-item .jawBone .jawBoneCommon .meta .duration {
  margin: 0.6944444444444444vh 0px;
}

#mov-item .jawBone .jawBoneCommon .jawBonePanes .caption-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.7187500000000002vw;
  font-weight: bold;
  color: rgb(128, 128, 128);
  margin: 0em 0 0.6em 0;
  width: 45rem;
}

#mov-item .jawBone .jawBoneCommon .jawBonePanes .overview .synopsis {
  margin: 0.8em 0 0 0;
  width: 31rem;
  height: 20.833333333333336vh;
  color: rgb(128, 128, 128);
  line-height: 1.4;
  font-size: 1.25vw;
  font-weight: 400;
  overflow: hidden;
}

#mov-item .jawBone .jawBoneCommon .jawBonePanes .overview .creators {
  margin: 0.8em 0 0 0;
  width: 34rem;
  height: 5vh;
  color: rgb(128, 128, 128);
  line-height: 1.3;
  font-size: 1.25vw;
  font-weight: 400;
}

#mov-item .maturity-number {
  text-transform: uppercase;
  border: solid 1px rgb(160, 160, 160);
  padding: 0 0.4em;
  unicode-bidi: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1.3888888888888888vh;
  margin-bottom: 1.3888888888888888vh;
  margin-left: 0.390625vw;
}

/***************************************/

#mov-item.page > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 3.90625vw;
  height: 59.02777777777778vh;
  padding-top: 0px;
  z-index: 0;
}

#mov-item.page > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 694.4444444444445vh;
}

#mov-item > .row {
  zoom: 1;
  margin-left: -1.5625vw;
}

#mov-item > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 1.5625vw;
}

/*
#mov-content .middle {
    position: relative;
    overflow: hidden;
    padding-left: 50px;
    height: 355px;
    padding-top: 0px;
    z-index: 0;
}
*/

#mov-content > .content {
  position: relative;
  left: -19.140625vw;
  overflow: hidden;
  width: 111.71875vw;
  top: -38.19444444444444vh;
  z-index: 20;
  min-width: 73.4375vw;
  background-color: rgb(232, 232, 232);
  height: 100vh;
  zoom: 1;
  margin-left: 0;
  padding-left: 7.421875vw;
}

#mov-content > .content > .middle {
  position: relative;
  overflow: hidden;
  padding-left: 3.90625vw;
  height: 59.02777777777778vh;
  padding-top: 0px;
  z-index: 0;
}

#mov-content > .content > .img_bg_trans {
  position: absolute;
  top: 40.27777777777778vh;
  z-index: 10;
}

#mov-content > .row {
  zoom: 1;
  margin-left: -1.5625vw;
}

#mov-content > .row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 1.5625vw;
}

#mov-content > .content > .middle > .middle_list {
  position: relative;
  display: block;
  height: 694.4444444444445vh;
}

/*******************************************************************************************************************************************/

.nav_mov_content {
  display: table-row;
  color: #fff;
  width: 100%;
  margin: 0px 1.171875vw;
}

.nav_mov_list {
  vertical-align: middle;
  color: rgb(132, 132, 132);
  width: 100%;
  padding-left: 0px;
}

div.nav_mov_content ul.nav_mov_list li:first-child {
  margin: 0px 0;
}

div.nav_mov_content ul.nav_mov_list li {
  position: relative;
  height: 4.861111111111112vh;
  width: 100%;
  list-style: none;
  margin: 0.4166666666666667vh 0.390625vw;
}

div.nav_mov_content ul.nav_mov_list li i {
  font-size: 1.7187500000000002vw;
  font-weight: 400;
  height: 4.861111111111112vh;
  min-width: 1.7968749999999998vw;
  border-radius: 12px;
  line-height: 4.861111111111112vh;
  text-align: center;
  margin-left: 0px;
}

div.nav_mov_content ul.nav_mov_list li div {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
}

div.nav_mov_content ul.nav_mov_list li div.focus i {
  color: #ff9200;
  font-weight: 600;
  background-color: transparent;
  text-decoration: none;
}

div.nav_mov_content ul.nav_mov_list li div:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div.nav_mov_content ul.nav_mov_list li div:focus {
  outline-width: 0;
}

div.nav_mov_content ul.nav_mov_list li div.focus span.links_name {
  color: #ff9200;
}

div.nav_mov_content ul.nav_mov_list li div .links_name {
  position: absolute;
  margin-left: 3.90625vw;
  opacity: 1;
  pointer-events: auto;
  font-size: 1.640625vw;
  font-weight: 500;
  pointer-events: none;
}

/*==========================================================================================================================================================================*/

#slider {
  position: relative;
  display: flex;
  margin: 4.166666666666666vh 0px;
  /*  
  width: 1200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  */
  border: 0;
  height: 0.8333333333333334vh;
  background: rgb(128, 128, 128);
  outline: none;
}

#slider .ui-slider-handle {
  position: absolute;
  margin: -0.5555555555555556vh 0 0 -0.703125vw;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: rgba(255, 255, 255, 1);
  border: 0;
  height: 2.5vh;
  width: 1.40625vw;
  outline: none;
  cursor: pointer;
}

#slider #custom-handle:focus {
  background: rgba(255, 146, 0, 1);
}

#slider .ui-slider-handle:hover,
#slider .ui-slider-handle:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#slider .ui-slider-range {
  background: #ffffff;
}

#custom-handle {
  position: absolute;
  font-size: 0.9375vw;
  font-weight: bold;
  color: #b8b8b8;
  width: 12.5vw;
  text-align: center;
  margin-top: -5.555555555555555vh;
}

#slider_time {
  margin-top: 4.166666666666666vh;
  margin-left: -1.171875vw;
  color: rgb(128, 128, 128);
  font-size: 1.25vw;
}

.progress-step {
  position: absolute;
  width: 100%;
  top: 21.52777777777778vh;
  font-size: 1.09375vw;
  text-align: center;
  color: rgb(128, 128, 128);
}

.progress_focus {
  position: absolute;
  top: 0px;
  width: 20.234375vw;
  height: 20.13888888888889vh;
  margin: 0px;
  left: 40.234375vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0.3125vw solid rgba(255, 146, 0, 1);
}

.progress-list {
  display: block;
  height: 20.13888888888889vh;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.progress {
  position: relative;
  display: flex;
  left: -250vw;
}

.track {
  display: inline-block;
  width: 20.3125vw;
  height: 20.13888888888889vh;
  text-align: center;
}

/*============================================================================================================================================================================*/

#slider_page.page {
  position: relative;
  min-width: 100vw;
  background-color: rgb(235, 235, 235);
  /*height: 720px;*/
  /*zoom: 1;*/
  margin-left: 0;
}

#slider_page.page .slider_footer {
  position: fixed;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 3.125vw;
  z-index: 0;
  bottom: 0;
  overflow: hidden;
  width: 100vw;
  /*padding-bottom: 30px;*/
  padding-top: 1.3888888888888888vh;
  display: table;
  /*
  background-image: url("../image/slider_bg.png");
  background-repeat: repeat-x;
  */
}

.fill_bg {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgb(250, 250, 250);
  opacity: 0.85;
  z-index: -100;
}

div#slider_page.page div.slider_footer div.rows {
  margin-left: 0px;
}

#slider_page.page .name_content {
  margin: -0.6944444444444444vh 0px;
  color: rgb(128, 128, 128);
  font-size: 2.03125vw;
  line-height: 3.6111111111111107vh;
  text-align: left;
  float: left;
  width: 64.0625vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 1.3888888888888888vh;
}

#slider_page.page .date_content {
  color: rgb(128, 128, 128);
  font-size: 1.40625vw;
  line-height: 3.4722222222222223vh;
  float: right;
  text-align: right;
  padding-right: 3.125vw;
  float: right;
  margin-top: 3.4722222222222223vh;
  margin-bottom: 4.166666666666666vh;
}

#slider_page.page .row_box {
  display: table-cell;
  text-align: center;
  height: 6.944444444444445vh;
  vertical-align: middle;
}

.w850 {
  width: 66.40625vw;
}

.center {
  text-align: center !important;
}

#slider_page.page #fast_control_name {
  color: rgb(128, 128, 128);
  font-size: 1.953125vw;
  font-weight: 300;
}

#slider_page.page .box_image {
  width: 85%;
  position: relative;
  top: 1.3888888888888888vh;
}

.w200 {
  width: 15.625vw;
  text-align: right !important;
  padding-right: 1.5625vw !important;
}

#slider_page.page .box {
  display: inline-block;
  color: rgb(128, 128, 128);
  font-size: 2.8125vw;
  height: 6.111111111111111vh;
  width: 3.4375000000000004vw;
  text-align: center;
  margin: 0px 0.78125vw;
}

#slider_page.page .box.play {
  font-size: 2.96875vw;
}

#slider_page.page .box.forward {
  font-size: 2.96875vw;
}

#slider_page.page .box.rewind {
  font-size: 2.96875vw;
}

#slider_page.page .box.info {
  font-size: 2.8125vw;
}

#slider_page.page .box.reply {
  font-size: 2.96875vw;
}

#slider_page.page #cleared {
  clear: both;
}

#slider_page.page div#slider_row div.column {
  float: left;
  padding: 0.6944444444444444vh 0.390625vw;
  padding-bottom: 0px;
  /*height: 300px; */
}

div#slider_row {
  margin-left: -3.125vw;
}

div#slider_row:after {
  content: "";
  display: table;
  clear: both;
}

#slider_page.page .slider_arrow_down {
  display: block;
  width: 100%;
  height: 3.4722222222222223vh;
  background: url("../image/down-arrow.svg") no-repeat center 100%;
}

#slider_page.page .slider_arrow_up {
  display: block;
  width: 100%;
  height: 3.4722222222222223vh;
  background: url("../image/up-arrow.svg") no-repeat center 100%;
}

#slider_page.page div#epg-list {
  position: relative;
  margin-left: 0px;
}

#slider_page.page #epg {
  position: absolute;
  bottom: 0;
  top: 0.2777777777777778vh;
  margin-left: 0.234375vw;
}

#slider_page.page #trc_slider_epg {
  margin-left: -3.125vw;
}

#slider_page.page #epg-content {
  margin-left: 20.15625vw !important;
}

#slider_page.page .focus {
  /*color: #ff9200;*/
  outline-width: 0 !important;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#slider_page.page .focus:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#slider_page.page .box:focus {
  color: #ff9200;
}
/*
        #slider_page.page div#epg-list {
            position: relative;
            margin-left: 0px;
        }
        
        #slider_page.page #epg {
            position: relative;
            left: 225px !important;
            bottom: 0;
        }
        
        */

/**************************************************************************************************************************************************************/

#menucateg_container {
  float: left;
  display: table;
  vertical-align: middle;
  height: 100vh;
  background-image: url("../image/bg_menu_category.png");
  background-position-x: right;
  /* background-repeat: no-repeat; */
  /*background-color: cadetblue;*/
}

#menu_category {
  display: table-cell;
  vertical-align: middle;
}

div#menu_category li {
  list-style-type: none;
  text-decoration: none;
}

div#menu_category li div.links_name {
  font-size: 1.40625vw;
  font-weight: 400;
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0;
  white-space: nowrap;
  height: 5.555555555555555vh;
  width: 100%;
  list-style: none;
  line-height: 5.555555555555555vh;
  width: 13.28125vw;
  padding-left: 3.515625vw;
}

div#id_mc_2 {
  padding-bottom: 1.3888888888888888vh;
  margin-bottom: 1.3888888888888888vh;
  /*
  background-image: url("../image/bg_mc_2.png");
  background-repeat: no-repeat;
  */
}

div#menu_category li div.links_name.focus {
  font-size: 1.5625vw;
  color: #ff9200;
  font-weight: 500;
}

div#menu_category li div:focus-visible {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div#menu_category li div:focus {
  outline-width: 0;
}
/*********************************************************************************************************************/
div#id_router {
  display: block;
  width: 15.625vw;
  height: 27.77777777777778vw;
  background-color: burlywood;
  float: right;
}

div#screen_view_container.active {
  visibility: visible;
}

div#screen_view_container.inactive {
  visibility: hidden;
}

div#player_view_container.active {
  visibility: visible;
}

div#player_view_container.inactive {
  visibility: hidden;
}

/*********************************************************************************************************************/
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
  outline-width: -webkit-focus-ring-color auto 0px;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
  outline-width: -webkit-focus-ring-color auto 0px;
}

@media only screen and (min-device-width: 1281px) and (max-device-width: 1920px) {
  body {
    /* zoom: 1.5; */
  }
}

/*animacija*/

.slick-slide img {
  max-width: 17.96875vw !important;
  height: auto;
}

.list-data-pmd .control_focus:focus {
  border: 0.3125vw solid rgba(255, 146, 0, 1);
  border-radius: 0.3125vw;
}

.list-data-plg .control_focus:focus {
  border: 0.3125vw solid rgba(255, 146, 0, 1);
  border-radius: 0.3125vw;
}

#vod_page.page > .content > .middle > .middle_list {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
}

.middle_list {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb;
}

.rowxx {
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb;
}

.hiddenUp {
  margin-top: -83.33333333333334vh;
}

.slideUp {
  -webkit-transition: margin 300ms linear;
  margin-top: 0px !important;
}

.slideDown {
  -webkit-transition: margin 300ms linear;
}

/* ====================  GENERAL  ================================================================================================================

/* body {
  height: 720px;
  width: 1280px;
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
} */

/* ====================  SETTINGS  =============================================================================================================== */

.settings-cnt {
  /* position: relative;
  box-sizing: border-box;
  color: grey;
  font-size: 26px;*/
  height: 720px;
  width: 1280px;
  margin: 0px;
  padding: 0px;

  z-index: 101;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  font-family: "AntennaWGL", sans-serif;
  font-size: 21px;
  color: grey;

  background-color: white;
}

/*
.settings-cnt div:focus {
  /*.settings-cnt li:focus ne treba?*/
/* outline: none;
} */

/* ====================  Settings - Left column  ================================================================================================= */

.lcol {
  height: 720px;
}

.lcol .title {
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
}

.lcol .options-list {
  height: 600px;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  margin-left: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 55px;
  font-weight: 600;
  text-transform: uppercase;
}

.lcol .options-list .select {
  color: orange;
  font-size: 28px;
}

.lcol .options-list .active {
  color: rgb(255, 187, 0);
  font-size: 28px;
}

/* ====================  Settings - Right column  ================================================================================================ */

#settings .rcol {
  box-sizing: border-box;
  height: 720px;
  padding: 60px;
  /* background-image: url("../image/s_whitegrad.png");*/
  background-size: contain;
}

#settings .bcg {
  background: rgb(247, 245, 245);
}

.rcol .options-list {
  height: 500px;
  box-sizing: border-box;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 55px;
  font-weight: 500;
}

.rcol .title {
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid gray;
  color: rgb(85, 82, 82);
  font-size: 28px;
  font-weight: 600;
}

.rcol .options-list .select {
  color: orange;
}

.rcol .options-list .sort-select {
  box-sizing: border-box;
  font-weight: 700;
  padding-left: 30px;
  color: #ffa500;
}

.rcol .options-list .inactive-option {
  color: gray;
  opacity: 0.5;
}

.rcol .options-list .static-option {
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 1;
  color: rgb(40, 40, 40);
}

.rcol .options-list .chev-option {
  font-weight: bold !important;
  color: black !important;
  margin: 0px !important;
}

.rcol .radio-button {
  font-size: 46px;
  font-weight: 100;
}

/* ====================  Settings - Theme page direct  =========================================================================================== */

.theme-cnt .h-dummy {
  height: 275px;
}

.theme-cnt .h-content {
  height: 50px;
}

.theme-cnt hr {
  border-top: 1px solid grey;
}
.theme-cnt i {
  font-size: 48px;
}

/* ====================  Settings - Screen config page direct  =================================================================================== */

.screen-cfg-cnt {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 720px;
  z-index: 9999;
  background-image: url("../image/s_scf.png");
  background-color: white;
  text-align: center;
  color: grey;
}

.screen-cfg-cnt i {
  font-size: 40px;
}

.screen-cfg-cnt .arrow {
  font-size: 200px;
}

.scfg-first-row {
  height: 240px;
  width: 100%;
}

.scfg-second-row {
  height: 240px;
  display: table;
  width: 100%;
}

.scfg-second-row i {
  display: table-cell;
  vertical-align: middle;
}

.scfg-third-row {
  height: 240px;
  width: 100%;
}

/* =============================================================================================================================================== */
/* ====================  CONTROLS  =============================================================================================================== */

/* ====================  Controls - Keyboard  ==================================================================================================== */
#keyboard_page_container {
  background-color: white;
  color: grey;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 720px;
  z-index: 9999;
}

#keyboard_page_container .message-field {
  font-weight: bold;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#keyboard_page_container .input-field {
  font-size: 40px;
  letter-spacing: 5px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 2px solid;
  margin-bottom: 20px;
  overflow: hidden;
}

#keyboard_page_container .pin-input-field {
  font-size: 40px;
  letter-spacing: 5px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
  padding-left: 24px;
  overflow: hidden;
  box-sizing: border-box;
}

#keyboard_page_container .sq {
  font-size: 30px;
  letter-spacing: 5px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 2px solid;
  margin-right: 24px;
  padding: 0px !important;
  border-radius: 10px;
}

#keyboard_page_container .key-foc {
  position: absolute;
  top: 0px;
  border: 3px solid rgb(237, 139, 26);
  outline: none;
  box-sizing: border-box;
}

#keyboard_page_container .cell {
  background-color: lightgrey;
}

#keyboard_page_container .double {
  background-color: lightgrey;
}

#keyboard_page_container .triple {
  background-color: lightgrey;
}

#keyboard_page_container .space {
  background-color: lightgrey;
}

/* ==================== Reminders css ========================================================================================= */

.settings-cnt .delete-reminder {
  color: red !important;
}
