<div id="category-list" class="<%= st_open_menu=== true ? 'w_100' : '' %>">
  <div id="category-content" class="content">
    <% if (st_open_menu !== true) { %>
    <div id="id_category_1" class="item"><%= name %></div>
    <% }else{ %> <% _.each(result, function(r){ %>
    <div id="id_category_<%=r.id %>" class="item"><%=r.name %></div>
    <% }); %> <% } %>
  </div>
  <div id="category" tabindex="2" class="fill"></div>
</div>
