<div id="channel-list">
  <div id="channel-content">
    <div class="channel-box">
      <span class="number">001</span>
      <img src="" />
    </div>
    <div class="channel-box">
      <span class="number">002</span>
      <img src="" />
    </div>
    <div class="channel-box">
      <span class="number">003</span>
      <img src="" />
    </div>
    <div class="channel-box">
      <span class="number">004</span>
      <img src="" />
    </div>
    <div class="channel-box">
      <span class="number">005</span>
      <img src="" />
    </div>
    <div class="channel-box">
      <span class="number">006</span>
      <img src="" />
    </div>
    <div class="channel-box">
      <span class="number">007</span>
      <img src="" />
    </div>
  </div>
  <div id="channel" tabindex="1"></div>
</div>
<div id="chanSub">
  <div class="chanSubDivWarning"><p class="subMessage">Niste pretplaćeni</p></div>
  <!-- <div class="chanSubDivOptions">
    <span class="chanSubSpan1 orange">Pretplati se</span>
    <span class="chanSubSpan2">Odustani</span>
  </div> -->
</div>
<div id="chanPin">
  <div class="chanSubDivWarning"><p class="subMessage">Unesite PIN</p></div>
  <!-- <div class="chanSubDivOptions">
    <span class="chanSubSpan1 orange">Pretplati se</span>
    <span class="chanSubSpan2">Odustani</span>
  </div> -->
</div>

<!-- <div id="video" clss="bg-video"><img src="image/bg.jpg" alt="bg" /></div> -->

<!-- <div id="video" clss="bg-video"></div><iframe width="1280" height="720" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></div> -->
