<div id="lst-epg-list">
  <div id="lst-epg-content" class="content" style="top: 27.77777777777778vh">
    <div id="epg_arrow_up" class="item lst-epg-box h-small">
      <div class="lst-arrow">
        <i class="bx bx-chevron-up"></i>
      </div>
    </div>

    <div id="epg_item_1" class="item lst-epg-box h-small">
      <div class="lst-epg-box-border">
        <div class="fill">
          <div class="name">Test Naziv</div>
          <span class="time">aaaa</span>
          <span class="date">1111</span>
          <div class="lst-icon">
            <i class="bx bx-bell"></i>
          </div>
        </div>
      </div>
    </div>

    <div id="epg_item_2" class="item lst-epg-box h-small">
      <div class="lst-epg-box-border">
        <div class="fill">
          <div class="name">Test Naziv</div>
          <span class="time">aaaa</span>
          <span class="date">2222</span>
          <div class="lst-icon">
            <i class="bx bx-bell"></i>
          </div>
        </div>
      </div>
    </div>

    <div id="epg_item_3" class="item lst-epg-box h-normal">
      <div class="lst-epg-box-border">
        <div class="fill">
          <div class="name">Xxxxxxxx</div>
          <span class="time">aaaa</span>
          <span class="date">3333</span>
          <div class="lst-icon">
            <i class="bx bx-bell"></i>
          </div>
        </div>
      </div>
    </div>

    <div id="epg_item_4" class="item lst-epg-box h-small">
      <div class="lst-epg-box-border">
        <div class="fill">
          <div class="name">Test Naziv</div>
          <span class="time">aaaa</span>
          <span class="date">2222</span>
          <div class="lst-icon">
            <i class="bx bx-bell"></i>
          </div>
        </div>
      </div>
    </div>

    <div id="epg_item_5" class="item lst-epg-box h-small">
      <div class="lst-epg-box-border" style="border-bottom: 1px solid rgba(128, 128, 128, 0.2)">
        <div class="fill">
          <div class="name">Test Naziv</div>
          <span class="time">aaaa</span>
          <span class="date">3333</span>
          <div class="lst-icon">
            <i class="bx bx-bell"></i>
          </div>
        </div>
      </div>
    </div>

    <div id="epg_arrow_down" class="item lst-epg-box h-small">
      <div class="lst-arrow">
        <i class="bx bx-chevron-down"></i>
      </div>
    </div>

    <div id="lst-epg" tabindex="100"></div>
  </div>
</div>
