<div id="lst_epg_<%= result.ID %>" class="item epg-box">
  <div class="epg-box-border">
    <div id="fill_epg_<%= result.ID %>" class="fill" epg_stavka="<%" ="result.ID" %>
      ">
      <span class="name"><%= v_control+' '+ result.name %></span>
      <span class="time"><%= v_startTime+'-'+v_endTime %></span>
      <span class="date"><%= v_date %></span>
    </div>
    <img src="<%= result.picture.stills %>" />
  </div>
</div>
