<div id="epg-list">
  <div id="epg-content" class="content" style="left: -39.6875vw">
    <div id_epg="" class="item epg-box">
      <div class="epg-box-border">
        <div class="fill">
          <span class="name"></span>
          <span class="time"></span>
          <span class="date"></span>
        </div>
        <img src="" />
      </div>
    </div>

    <div id_epg="" class="item epg-box">
      <div class="epg-box-border">
        <div class="fill">
          <span class="name"></span>
          <span class="time"></span>
          <span class="date"></span>
        </div>
        <img src="" />
      </div>
    </div>

    <div id_epg="" class="item epg-box">
      <div class="epg-box-border">
        <div class="fill">
          <span class="name"></span>
          <span class="time"></span>
          <span class="date"></span>
        </div>
        <img src="" />
      </div>
    </div>

    <div id_epg="" class="item epg-box">
      <div class="epg-box-border">
        <div class="fill">
          <span class="name"></span>
          <span class="time"></span>
          <span class="date"></span>
        </div>
        <img src="" />
      </div>
    </div>

    <div id_epg="" class="item epg-box">
      <div class="epg-box-border">
        <div class="fill">
          <span class="name"></span>
          <span class="time"></span>
          <span class="date"></span>
        </div>
        <img src="" />
      </div>
    </div>

    <div id_epg="" class="item epg-box">
      <div class="epg-box-border">
        <div class="fill">
          <span class="name"></span>
          <span class="time"></span>
          <span class="date"></span>
        </div>
        <img src="" />
      </div>
    </div>

    <div id_epg="" class="item epg-box">
      <div class="epg-box-border">
        <div class="fill">
          <span class="name">Zona pada 6</span>
          <span class="time"></span>
          <span class="date"></span>
        </div>
        <img src="" />
      </div>
    </div>
  </div>
  <div id="epg" tabindex="100"></div>
</div>
