<div class="row">
  <div class="span1">
    <div id="ch_epg_<%=c.attributes.id %>" tabindex="<%=c.attributes.id %>" class="channel-box">
      <span class="number"><%=c.attributes.name %></span>
      <img id="ch_epg_img_<%=c.attributes.id %>" src="<%=c.attributes.image %>" />
      <!-- <div class="focus_box"></div> -->
    </div>
  </div>
  <div class="span2">
    <div class="live-list">
      <div id="epg_live_content_<%=c.attributes.id %>" class="live-content">
        <div class="item" list="0">
          <div id="ch_epg_<%=c.attributes.id %>_name_0" class="name"></div>
          <div id="ch_epg_<%=c.attributes.id %>_data_0" class="date"></div>
          <div id="ch_epg_<%=c.attributes.id %>_time_0" class="time"></div>
          <div class="progress">
            <div class="light-grey">
              <div id="ch_epg_<%=c.attributes.id %>_blue_0" class="blue height-08 w-0"></div>
            </div>
          </div>
        </div>
        <div class="item" list="1">
          <div id="ch_epg_<%=c.attributes.id %>_name_1" class="name"></div>
          <div id="ch_epg_<%=c.attributes.id %>_data_1" class="date"></div>
          <div id="ch_epg_<%=c.attributes.id %>_time_1" class="time"></div>
          <div class="progress">
            <div class="light-grey">
              <div id="ch_epg_<%=c.attributes.id %>_blue_1" class="blue height-08 w-0"></div>
            </div>
          </div>
        </div>
        <div class="item" list="2">
          <input type="hidden" id="ch_epg_<%=c.attributes.id %>_id_2" value="" />
          <div id="ch_epg_<%=c.attributes.id %>_name_2" class="name"></div>
          <div id="ch_epg_<%=c.attributes.id %>_data_2" class="date"></div>
          <div id="ch_epg_<%=c.attributes.id %>_time_2" class="time"></div>
          <div class="progress">
            <div class="light-grey">
              <div id="ch_epg_<%=c.attributes.id %>_blue_2" class="blue height-08 w-0"></div>
            </div>
          </div>
        </div>
        <div class="item" list="3">
          <div id="ch_epg_<%=c.attributes.id %>_name_3" class="name"></div>
          <div id="ch_epg_<%=c.attributes.id %>_data_3" class="date"></div>
          <div id="ch_epg_<%=c.attributes.id %>_time_3" class="time"></div>
          <div class="progress">
            <div class="light-grey">
              <div id="ch_epg_<%=c.attributes.id %>_blue_3" class="blue height-08 w-0"></div>
            </div>
          </div>
        </div>

        <div class="item" list="4">
          <div id="ch_epg_<%=c.attributes.id %>_name_4" class="name"></div>
          <div id="ch_epg_<%=c.attributes.id %>_data_4" class="date"></div>
          <div id="ch_epg_<%=c.attributes.id %>_time_4" class="time"></div>
          <div class="progress">
            <div class="light-grey">
              <div id="ch_epg_<%=c.attributes.id %>_blue_3" class="blue height-08 w-0"></div>
            </div>
          </div>
        </div>

        <div id="epg_ch_focus_<%=c.attributes.id %>" epg_ch_focus="1"></div>
      </div>
    </div>
  </div>
</div>
