<div id="guidetv" class="page">
  <div id="id_epg_category"></div>

  <div id="id_epg_content" class="content">
    <div class="channel-list">
      <div id="id_epg_channel_content" class="channel-content"></div>
    </div>
  </div>

  <div class="epg_footer">
    <div class="row">
      <span class="col1"><img id="id_epg_footer_img" src="image/epg/1.jpg" style="width: 14.84375vw" /></span>
      <span class="col2">
        <div class="row">
          <div id="id_epg_footer_name" class="epg_name">Slučaj porodice Bošković</div>
          <div id="id_epg_footer_date" class="epg_date">11.40 - 12.56 / 06. Jul</div>
        </div>

        <div id="id_epg_footer_comment" class="comment">
          <p>
            U 59. epizodi, koja nosi naziv Prijemni ispit, Marko ima važne vesti za Jovanu. Danijela je već počela da
            slavi Veliborov upis na fakultet iako rezultati nisu stigli. Gavrilo obnavlja kontakt sa Rudolfom,
            snimateljem Pantine družine. U 60. epizodi, koja nosi naziv Ne ide gas, Jovana podučava Gavrila žanrovskim
            izrazima svoje generacije, a Olja se prvi put odvaja od bebe i ostavlja malog Felixa sa Danijelom. Međutim,
            Felix nije obična beba, pa se ne da uspavati na običan način.
          </p>
        </div>
      </span>
    </div>
  </div>
</div>
