<div id="id_search"></div>
<div id="keyboard">
  <% _.each(keyboard, function(red){ %>
  <div class="row">
    <% _.each(red, function(r){ %>
    <div class="<%=r.tag %>">
      <div id="<%=r.id %>" class="cell"><%=r.ico %></div>
    </div>
    <% }); %>
  </div>
  <% }); %>
  <div id="key_keyboard" class="focus" tabindex="1"></div>
</div>
