<% if (box_empty!== 'yes') { %>
    <div id="id_start_<%= id_list+'_'+ result.ID %>" class="item">
        <div class="live-box-border">
            <div class="box-image"><img src="<%= image %>"></div>
            <% if (progress!== 0) { %>
                <div class="light-grey">
                    <div class="blue height-04 w-<%= progress_val %>"> </div>
                </div>
                <% } else{ %>
                    <div class="light-grey-empty">

                    </div>
                    <% } %>
                        <div class="fill">
                            <div id="id_start_name_<%= result.ID %>" name="start_name" class="name">
                                <%= result.name %>
                                    </br>
                            </div>
                        </div>
        </div>
    </div>
    <% }
        else{
        %>

        <% 
            }
        %>