<div class="list-data-<%= size %>">
  <span class="name_category"><%= name %></span>
  <div id="list-content_<%= id_list %>" class="list-content"></div>
  <div id="control_<%= id_list %>" select="0" class="control_focus" tabindex="1"></div>
</div>
