<div id="menu" class="sidebar bg_gradiant_trans">
  <div class="logo_content">
    <ul class="nav_list">
      <li>
        <div id="btn"><img id="btn_logo" style="width: 4.296875vw" src="image/logo.svg" /></div>
      </li>
      <li>
        <div id="menu_search" tabindex="2">
          <i class="bx bx-search" style="margin-left: 1.171875vw"></i>
          <span id="menu_name_search" class="links_name tag_0">Pretraga</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="nav_content">
    <ul class="nav_list">
      <li>
        <div id="menu_start" tabindex="3">
          <i class="bx bx-home-alt" style="margin-left: 1.171875vw"></i>
          <span style="padding-left: 0.3125vw" id="menu_name_start" class="links_name tag_1">Početna</span>
        </div>
      </li>
      <li>
        <div id="menu_liveTV" tabindex="1002">
          <i class="bx bx-tv"></i>
          <span id="menu_name_liveTV" class="links_name tag_2">TV Uživo</span>
        </div>
      </li>
      <!--
            <li>
                <div id="menu_guideTV" tabindex="5"><i class="bx bx-list-ul"></i><span id="menu_name_guideTV" class="links_name tag_3">TV Vodič</span></div>
            </li>
            -->
      <li>
        <div id="menu_movies" tabindex="6">
          <i class="bx bx-film"></i>
          <span id="menu_name_movies" class="links_name tag_3">Filmovi</span>
        </div>
      </li>
      <li>
        <div id="menu_series" tabindex="7">
          <i class="bx bx-movie-play"></i>
          <span id="menu_name_series" class="links_name tag_4">Serije</span>
        </div>
      </li>
      <li>
        <div id="menu_settings" tabindex="9">
          <i class="bx bx-slider-alt"></i>
          <span id="menu_name_settings" class="links_name tag_6">Podešavanja</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="profile_content">
    <ul class="nav_list">
      <li>
        <div id="menu_user" tabindex="10">
          <i class="bx bx-smile" style="padding-left: 0.3125vw"></i>
          <span id="menu_name_user" style="padding-left: 0.3125vw" class="links_name tag_7">User</span>
        </div>
      </li>
    </ul>
  </div>
</div>
