<div id="menu_category" style="display: none">
  <% _.each(result, function(r){ %>
  <li>
    <div id="id_mc_<%=r.code %>" tabindex="<%=r.code %>" class="links_name"><%=r.name %></div>
  </li>
  <% }); %>
</div>
