<div id="vod_page" class="page">
  <div class="nav" style="display: none"></div>
  <div class="content">
    <div class="middle">
      <div id="middle_list" class="middle_list" style="top: 0px">
        <% for(i = 0; i < size; i++){ %>
        <div id="radio_row_<%= i %>" class="row"></div>
        <% } %>
      </div>
    </div>
    <!-- Example row of columns -->

    <!-- Example row of columns 
        <div class="row ">
            <div class="span6 ">
                a
            </div>
            <div class="span5 ">
                b
            </div>
            <div class="span5 ">
                c
            </div>
        </div>
        <hr>
        
        <div class="row ">
            <div class="span6 ">
                d
            </div>
            <div class="span5 ">
                e
            </div>
            <div class="span5 ">
                f
            </div>
        </div>
        -->
  </div>
</div>
