<div id="keyboard_container">
    <div id="message_field" class="message-field"></div>
    <div id="input_field" class="input-field"></div>
    <div class="keyboard">
        <% _.each(keyboard, function(red){ %>
                <% _.each(red, function(r){ %>
                    <div id="<%=r.id %>" class="<%=r.tag %>">
                        <%=r.ico %>
                    </div>
                <% }); %>
        <% }); %>
        <div id="key_foc" class="key-foc" tabindex="1"></div>
    </div>
</div>