<div id="keyboard_container">
    <div id="message_field" class="message-field"></div>
    <div id="pin-input_field" class="pin-input-field row">
        <div id="inp0" class="col-xs-2 sq"></div>
        <div id="inp1" class="col-xs-2 sq"></div>
        <div id="inp2" class="col-xs-2 sq"></div>
        <div id="inp3" class="col-xs-2 sq"></div>
    </div>
    <div class="keyboard">
        <% _.each(keyboard, function(red){ %>
                <% _.each(red, function(r){ %>
                    <div id="<%=r.id %>" class="<%=r.tag %>">
                        <%=r.ico %>
                    </div>
                <% }); %>
        <% }); %>
        <div id="key_foc" class="key-foc" tabindex="1"></div>
    </div>
</div>