<div class="row">
    <div class="title">
        <h><%=title%></h>
    </div>
</div>
<ul class="options-list">
    <% _.each(list, function(elem){ %>
        <li id="<%= elem.id %>" class="row">
            <div class="col-md-8 text-left"><%= elem.name %></div>
            <div class="col-md-4 text-right"><% if(elem.info){ %> <%= elem.info %> <% } %> <% if(elem.html){ %> <%= elem.html %> <% } %></div>
        </li>
    <%});%>
</ul>