<div id="screen_cfg" class="screen-cfg-cnt">
    <div class="scfg-first-row">
        <i class="bx bx-plus"></i><br>
        <i id="sscUp" class="bx bx-chevron-up arrow"></i> <br>
    </div>
    <div class="scfg-second-row">
        <i class="bx bx-minus"></i>
        <i id="sscLeft" class="bx bx-chevron-left arrow"></i>
        <i id="scfg_percentage" class="scfg-percentage"></i>
        <i id="sscRight" class="bx bx-chevron-right arrow"></i>
        <i class="bx bx-plus"></i>
    </div>
    <div class="scfg-third-row">
        <i id="sscDown" class="bx bx-chevron-down arrow"></i><br>
        <i class="bx bx-minus"></i><br>
    </div>
</div>