<div id="settings" tabindex="1" class="container-fluid settings-cnt">
  <div class="row">
    <div id="left_column" class="col-md-4 lcol" tabindex="2">
      <div class="title">
        <h><%=title%></h>
      </div>
      <ul class="options-list">
        <% _.each(list, function(elem){ %>
        <li id="<%= elem.id %>" tabindex="4"><%= elem.name %></li>
        <%});%>
      </ul>
    </div>
    <div id="right_column" class="col-md-8 rcol" tabindex="3"></div>
  </div>
</div>
