<div id="theme" class="theme-cnt">
   
    <div class="row h-dummy">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row h-content">
        <div class="col-md-3"></div>
        <div class="col-md-2 h-content">
            <i id="moon" class='bx bx-moon' ></i>
        </div>
        <div class="col-md-2 h-content">
            <i id="toggle_theme" class="bx bx-toggle-left"></i>
        </div>
        <div class="col-md-2 h-content">
            <i id="sun" class='bx bx-sun' ></i>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>