<div id="search_page" class="page">
  <div class="navbar">
    <div class="nav_keyboard"></div>
    <div class="nav_suggest"></div>
  </div>

  <div class="content">
    <div class="middle">
      <div id="middle_list" class="middle_list" style="top: 0px">
        <% for(i = 0; i < 4; i++){ %>
        <div id="vod_row_<%= i %>" class="row"></div>
        <% } %>
      </div>
    </div>
  </div>
</div>
