<div id="series_page" class="page">
  <div class="nav" style="display: none"></div>
  <div class="content">
    <div class="middle">
      <div id="middle_list" class="middle_list" style="top: 0px">
        <% for(i = 0; i < size; i++){ %>
        <div id="series_row_<%= i %>" class="rowxx"></div>
        <% } %>
      </div>
    </div>
  </div>
</div>
