<div id="slider_page" class="page">
  <div class="slider_footer">
    <div class="fill_bg"></div>

    <div class="progress-list" style="display: none">
      <div id="trc_progress" class="progress">
        <!--
                <img id="trc_1" class="track" src="video/1.jpg">
                <img id="trc_2" class="track" src="video/2.jpg">
                <img id="trc_3" class="track" src="video/3.jpg">
                <img id="trc_4" class="track" src="video/4.jpg">
                <img id="trc_5" class="track" src="video/5.jpg">
                -->
      </div>
      <div id="trc_progress_focus" class="progress_focus" style="display: none"></div>
    </div>
    <div id="trc_progress_step" class="progress-step" style="display: none"></div>

    <div id="slider_row" tabindex="0">
      <div class="column" style="width: 15.625vw">
        <img src="<%= channel.slika %>" class="box_image" id="slider_chanPic" />
        <div class="row_box w200" style="text-align: center !important">
          <div id="fast_control_name"></div>
          <div id="cleared"></div>
        </div>
      </div>
      <div class="column" style="width: 66.40625vw">
        <div>
          <div id="trc_name_content" class="name_content"></div>
          <div id="cleared"></div>
        </div>

        <div id="slider">
          <div id="custom-handle" class="ui-slider-handle">
            <div id="slider_time"></div>
          </div>
        </div>

        <div class="row_box w850" id="player_controls">
          <div id="con_rewind" tabindex="1" class="box rewind"><i class="bx bx-rewind"></i></div>
          <div id="con_play" tabindex="2" class="box play"><i id="play_icon" class="bx bx-play"></i></div>
          <div id="con_forward" tabindex="3" class="box forward"><i class="bx bx-fast-forward"></i></div>
          <div id="cleared"></div>
        </div>
      </div>
      <div class="column" id="player_buttons" style="width: 15.625vw">
        <div>
          <div class="date_content">
            <div id="trc_date_content"></div>
            <div id="trc_time_content"></div>
          </div>
          <div id="cleared"></div>
        </div>
        <div class="row_box w200">
          <div id="con_reply" tabindex="4" class="box reply"><i class="bx bx-repost"></i></div>
          <div id="con_info" tabindex="5" class="box info"><i class="bx bx-info-circle"></i></div>
          <div id="cleared"></div>
        </div>
      </div>
    </div>

    <!-- <div id="trc_slider_arrow" class="slider_arrow_down"></div> -->
    <div id="trc_slider_epg" class="slider_epg" style="height: 10.416666666666668vh"></div>
  </div>
</div>

<!-- style="border: 5px solid cornflowerblue;" -->
