<div id="start_page" class="page">
  <div id="sjenka-div" class="sjenka-child-div"></div>
  <div class="nav" style="display: none"></div>
  <div class="content">
    <div class="middle">
      <div id="middle_list" class="middle_list" style="top: 0px">
        <% for(i = 0; i < 3; i++){ %>
        <div id="vod_row_<%= i %>" class="row"></div>
        <% } %>
      </div>
    </div>
  </div>
</div>
