<div id="setting_page" tabindex="0" class="page">
    <div class="nav" style="display: none;"></div>
    <div class="content">
        <div id="upArrow" class="arrowDiv" tabindex="2"> 
            <i class="bx bx-up-arrow test"></i>
        </div>
        <div id="leftArrow" class="arrowDiv" tabindex="2"> 
            <i class="bx bx-left-arrow test"></i>
        </div>
        <div id="changeTheme" class="arrowDiv" tabindex="2"> 
            <i class="bx bx-color-fill test"></i>
        </div>
        <div id="rightArrow" class="arrowDiv" tabindex="2">
            <i class="bx bx-right-arrow test"></i>
        </div>
        
        <div id="downArrow" class="arrowDiv" tabindex="2">
            <i class="bx bx-down-arrow test"></i>
        </div>      
    </div>
</div>

