<div id="vod_page" class="page">
  <!--<div class="nav" style="display: none;"></div>-->
  <div class="content">
    <div id="vod_header" class="header"></div>
    <div class="middle" style="top: 5.555555555555555vh">
      <div id="middle_list" class="middle_list">
        <% for(i = 0; i < 3; i++){ %>
        <div id="vod_row_<%= i %>" class="rowxx"></div>
        <% } %>
      </div>
    </div>
  </div>
</div>
