<div id="mov-content">
  <div id="mov-item">
    <div class="background">
      <div class="jawBoneBackground image-rotator">
        <span>
          <div class="ptrack-content">
            <div
              id="mov_image"
              class="image-rotator-image"
              style="background-image: url(image/poster/big_04.jpg)"
            ></div>
          </div>
        </span>
      </div>
      <div class="vignette"></div>
      <div class="nav-shadow"></div>
    </div>

    <div class="jawBone">
      <h1>
        <div class="title has-jawbone-nav-transition original"></div>
      </h1>
      <div class="jawBoneCommon">
        <div class="jawBonePanes">
          <div id="caption-message" class="caption-message">XXXX</div>
          <div class="meta video-meta">
            <span id="year-group" class="year">2008 - Akcija | Triler</span>
            <span class="maturity-rating"><span id="maturity-number" class="maturity-number">16+</span></span>
            <div class="duration"></div>
          </div>
          <div class="overview">
            <div id="synopsis" class="synopsis">
              Najsmrtonosniji čudni par na svetu, telohranitelj Majkl Brajs (Rajan Renolds) i ubica Darijus Kinkejd
              (Semjuel L. Džekson), ponovo su zajedno, u još jednoj misiji opasnoj po život. Još uvek bez dozvole i pod
              lupom, Brajsa na akciju prisiljava još nestabilnija Darijusova supruga, ozloglažena međunarodna
              prevarantkinja Sonja Kinkejd (Salma Hajek). Dok Brajsa do nervnog sloma dovode njegova dva najopasnija
              štićenika, trio se do guše upliće u globalnu zaveru i uskoro otkriva da su samo oni ti koji stoje između
              Evrope i totalnog haosa...
            </div>
            <!--
                        <div class="creators"><span>Glumci: </span><span id="creators"> Semjuel L. Džekson, Salma Hajek, Antonio Banderas
                        Reditelj: Dušan Kovačević</span>
                        </div>
                        -->
          </div>

          <div class="nav_mov_content">
            <ul class="nav_mov_list">
              <li>
                <div id="mov_trailer" tabindex="1">
                  <i class="bx bx-video" style="padding-left: 0.3125vw"></i>
                  <span style="padding-left: 0.3125vw" class="links_name tag_1">Pogledaj trejler</span>
                </div>
              </li>
              <li>
                <div id="mov_play" tabindex="2" class="focus">
                  <i class="bx bx-play-circle"></i>
                  <span class="links_name tag_2">Pusti film</span>
                </div>
              </li>
              <li>
                <div id="mov_bookmark" tabindex="3">
                  <i class="bx bx-bookmark"></i>
                  <span class="links_name tag_3">Označi kao odgledano</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="middle">
      <div id="middle_list" class="middle_list" style="top: 0px">
        <div id="vod_row_1" class="rowxx"></div>
        <div id="vod_row_2" class="rowxx"></div>
        <div id="vod_row_3" class="rowxx"></div>
        <div id="vod_row_4" class="rowxx"></div>
        <div id="vod_row_5" class="rowxx"></div>
        <div id="vod_row_6" class="rowxx"></div>
        <div id="vod_row_7" class="rowxx"></div>
        <div id="vod_row_8" class="rowxx"></div>
      </div>
    </div>
  </div>
</div>
